ion-content {
    height: 85vh;

    .no-data {
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 2rem;
        box-shadow: none;

    }


    .size {
        width: 97%;
    }
}

.shop-list {
    .shop-name{
        // line-height: 3px;
        font-weight: bold;
    }

    ion-card{
        ---border-color: #F0F0F0;
    }

    .col-7 {
        position: relative;
        left: -16px;

        .star {
            position: absolute;
            top: 79px;
            left: 79px; 
            white-space: nowrap;

            ion-icon {
                margin-right: 1px;
            }

        }
    }

    .img {
        display: flex;
        flex-direction: column;
        width: 9rem;
        height: 7.5rem;
        object-fit: cover;
        object-position: center;
        border-radius: 15px;
        padding: 8px;
    }
}