<ion-header>
  <ion-toolbar>
    <ion-title> {{ 'Shop List' | translate}} </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/landing-page"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher> -->

  <!-- search bar -->
  <ion-row>
    <ion-col size="12">
      <ion-searchbar class="search-box ion-no-padding size" inputmode="search" searchIcon animated type="text"
      showCancelButton="never" placeholder="{{ 'Search Shop' | translate}}" autocomplete="on" autocorrect="on"
      [(ngModel)]="search" (ionChange)="onSearch()">
    </ion-searchbar>
    </ion-col>


    <!-- filter -->
    <!-- <ion-col size="2">
      <ion-icon name="filter-outline" size="large" (click)="openSubCategoryModel()"></ion-icon>
    </ion-col> -->
  </ion-row>


  <!-- <ion-card> -->
    <ion-col *ngFor="let s of shopArr" class="shop-list">
      <ion-card (click)="navigateTo('/shop-detail',s._id)">
          <ion-row>
            <ion-col size="5">
              <img src="{{s.image}}" class="img">
            </ion-col>
            <ion-col size="7" class="col-7">
             <h6 class="shop-name">{{s.shopName}}</h6> 
             <p>{{s.address.line1 }}, {{ s.address.city}}.</p>
              <h5 class="star">
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <b style="margin-left: 7%;">4.5</b>
              </h5>
            </ion-col>
          </ion-row>
      </ion-card>
    </ion-col>
  <!-- </ion-card> -->

  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>