ion-content {
    height: 85vh;

    .no-data {
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 2rem;
        box-shadow: none;

    }

    
    .size{
        width: 97%;
    }
}