<ion-header>
  <ion-toolbar>
    <ion-title> {{ 'Shop List' | translate}} </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/landing-page"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher> -->

  <!-- search bar -->
  <ion-searchbar class="search-box ion-no-padding" inputmode="search" searchIcon animated type="text"
    showCancelButton="never" placeholder="{{ 'Search Shop' | translate}}" autocomplete="on" autocorrect="on"
    [(ngModel)]="search" (ionChange)="onSearch()">
  </ion-searchbar>

  <!-- <ion-icon name="filter-sharp"></ion-icon> -->

  <ion-card>
    <ion-col *ngFor="let s of shopArr" size="4">
      <ion-card (click)="navigateTo('/shop-detail',s._id)">
        <ion-card-header>
          <ion-row>
            <ion-col size="12">
              <img src="{{s.image}} " width="40%">
              <ion-note>{{s.shopName}}</ion-note>
            </ion-col>
          </ion-row>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-card>

  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>