<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="sub-topic-details"></ion-back-button>
  </ion-buttons>
  <ion-title>Assignment</ion-title>
</ion-toolbar>
<ion-content>
  <ion-card >
    <ion-card-content>
      <ion-text>{{assignmentDetails?.title}}</ion-text>
      <ion-slides pager="true">
        <ion-slide *ngFor="let i of assignmentDetails.AssignmentWithImage">
          <div class="swiper-zoom-container" zoom>
            <ion-img-viewer
              class="ion-img-viewer"
              [title]="assignmentDetails.title"
              [src]="i?.image"
            >
            </ion-img-viewer>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
</ion-content>
