.fb {
  color: #3b5998;
  width: 1.5rem;
  height: 1.5rem;
}

.insta {
  width: 1.5rem !important;
  height: 1.5rem !important;
  border: #ff0000;
  padding: 0px !important;
  margin: 0px !important;
  margin-right: 36px !important;
}

.yt {
  color: #ff0000;
  width: 1.5rem;
  height: 1.5rem;
}


.call {
  color: #0090d0;
  padding: 23px;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(128, 128, 128, 0.1);
  object-fit: cover !important;
}

ion-card {
  ion-avatar {
    width: 6rem !important;
    height: 6rem !important;
    border: 2px solid var(--cs-background-primary, #ffffff);
    object-fit: cover !important;
  }
}

// center vala card
.card-content-md {
  // padding-left: 16px;
  // padding-right: 16px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 0px;
  padding-bottom: 13px;
  font-size: 14px;
  line-height: 1.5;
}

.banner-img {
  top: 0px !important;
  bottom: 0px !important;
  border-radius: 5px !important;
  width: 363px !important;
  height: 233px !important;
  object-fit: cover !important;
}

.background-size {
  height: 40vh;
  position: relative;
  background-color: var(--cs-blandModes-secondary, #ffffff);
  background-blend-mode: luminosity;

  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: var(--cs-mode-image);
    background: var(--cs-gradient-linear);
  }

  img {
    top: 10px;
    position: relative !important;
    object-fit: cover !important;
    border-radius: 50%;
  }
}

.gallery {
  border-radius: 15px !important;
  height: 6rem !important;
  width: 100% !important;
  background-image: no-repeat !important;
}

ion-content {
  --padding-bottom: 0 !important;
  --padding-top: 0 !important;
  --padding-start: 0 !important;
  --padding-end: 0 !important;
}

.main-content {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  top: -40px;
  min-height: 42px;
  background-color: var(--ion-color-6);
}

.item-inner {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.shade-color {
  color: darkslategray;
}

ion-button {
  overflow: hidden;
  font-weight: 700;
  margin-left: 0px !important;
  margin-bottom: 15px !important;
  margin-right: 0px !important;
  border: 0rem;
  margin: 0px;
}

.bg-transparent {
  --background: transparent;
  position: absolute;
}

.header-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

ion-segment-button {
  font-size: 10px;
}

.heading {
  font-size: 0.8rem;
  font-weight: bold;
}

.btn {
  height: 3rem;
}

ion-fab-button {
  --background: var(--ion-color-light);
  height: 30px;
  width: 30px;
  margin-top: 0.5rem;
}

.social-links {
  margin: 0px;
  padding: 0px;
}




.bg-xcard {
  border-radius: 50%;
  background-color: transparent;
  align-items: center;
  width: 75px;
  height: 75px;
  border: 3rem;
  overflow: hidden;
  box-shadow: #9fb1dc 0px 25px 20px -20px;
}
