.fb {
  color: #3b5998;
  width: 1.5rem;
  height: 1.5rem;
}

.insta {
  width: 1.5rem !important;
  height: 1.5rem !important;
  border: --ion-color-primary;
  padding: 0px !important;
  margin: 0px !important;
}

.yt {
  color: --ion-color-primary;
  width: 1.5rem;
  height: 1.5rem;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(128, 128, 128, 0.1);
  object-fit: cover !important;
}

ion-card {
  ion-avatar {
    width: 6rem !important;
    height: 6rem !important;
    border: 2px solid var(--cs-background-primary, #ffffff);
    object-fit: cover !important;
  }
}

// center vala card
.card-content-md {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 0px;
  padding-bottom: 13px;
  font-size: 14px;
  line-height: 1.5;
}

.gallery {
  border-radius: 15px !important;
  height: 6rem !important;
  width: 100% !important;
  background-image: no-repeat !important;
}

ion-content {
  --padding-bottom: 0 !important;
  --padding-top: 0 !important;
  --padding-start: 0 !important;
  --padding-end: 0 !important;
}

.main-content {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  top: -40px;
  min-height: 42px;
  background-color: var(--ion-color-6);
}

.item-inner {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

ion-button {
  overflow: hidden;
  font-weight: 700;
  margin-left: 0px !important;
  margin-bottom: 15px !important;
  margin-right: 0px !important;
  border: 0rem;
  margin: 0px;
}

.bg-transparent {
  --background: transparent;
  position: absolute;
}

.header-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

ion-segment-button {
  font-size: 10px;
}

.heading {
  font-weight: bold;
}

.btn {
  height: 3rem;
}

.social-links {
  margin: 0px;
  padding: 0px;
}

.list li {
  font-size: 13px;
  color: black;
}

.paymentMethod {
  font-size: 15px;
  color: black;
}

ion-fab-button {
  --background: var(--ion-color-light);
  height: 30px;
  width: 30px;
  margin-top: 0.5rem;
}

.img-div {
  z-index: 1;
}

.top-icons {
  width: 100vw;
  height: 80px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;

  .left-icon {
    width: 10%;
    height: 100%;
  }

  .right-icons {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;

    ion-fab {
      position: relative;
    }
  }
}

.rating {
  display: inline-block;
  padding: 5px 7px;
  border-radius: 15%;
  position: absolute;
  top: 17px;
  right: 10px;
  --background: #de0f3f;
  --color: white;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.contact .ion-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact .ion-note {
  margin-top: 0.25rem;
  font-size: 10px;
  font-weight: bold;
  color: black;
}

.bg-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #fff;
}