<ion-item lines="none" class="ion-no-padding bg-transparent">
  <ion-back-button color="primary" defaultHref="app/tabs/landing-page"></ion-back-button>
</ion-item>

<ion-fab horizontal="end" slot="fixed">
  <ion-fab-button *ngIf="!shopUser?.shopFavorite">
    <ion-icon name="heart-outline" color="primary" (click)="addToFavorite(shopUser)"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab horizontal="end" slot="fixed">
  <ion-fab-button *ngIf="shopUser?.shopFavorite">
    <ion-icon name="heart" color="primary" (click)="addToFavorite(shopUser)"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content style="padding: 0" class="shadow-none ion-no-padding">
  <img [src]="shopUser?.shopDetails?.bannerImages" class="header-image" />
  <div id="content" class="main-content ion-padding">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-col size="5">
            <ion-avatar class="ion-margin-end logo-image">
              <img alt="logo-image" *ngIf="shopUser?.profilePicture" [src]="shopUser?.profilePicture" />
            </ion-avatar>
          </ion-col>
          <ion-col size="7" class="ion-text-capitalize ion-text-wrap">
            <ion-label class="ion-text-wrap"><b>{{shopUser?.shopDetails?.shopName}}</b></ion-label>
            <p class="font-larger">
              {{shopUser?.shopDetails?.firstName}} {{shopUser?.shopDetails?.lastName}}
            </p>
            <ion-text class="ion-text-wrap">
              <h4>
                {{shopUser?.address?.line1}}{{shopUser?.address?.line2}}
                {{shopUser?.address?.city}}, {{shopUser?.address?.state}}
                - {{shopUser?.address?.pinCode}}
              </h4>
            </ion-text>
            <ion-note class="ion-padding-top ion-text-wrap">
              {{shopUser?.shopDetails?.schedule?.startTime}} AM to
              {{shopUser?.shopDetails?.schedule?.endTime}} PM
            </ion-note>

          </ion-col>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-card class="card-status">
                <ion-card-content>
                  <ion-segment color="primary" [(ngModel)]="type" scrollable>
                    <ion-segment-button value="about" checked>
                      <ion-label class="ion-text-wrap">{{ 'about' | translate}}</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="gallery">
                      <ion-label class="ion-text-wrap">{{ 'gallery' | translate}}</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="reviews">
                      <ion-label class="ion-text-wrap">{{ 'reviews' | translate}}</ion-label>
                    </ion-segment-button>
                  </ion-segment>

                  <div [ngSwitch]="type">
                    <ion-list *ngSwitchCase="'about'">
                      <ion-item lines="none">
                        <ion-row>
                          <ion-col>
                            <p class="ion-text-wrap">
                              {{shopUser?.shopDetails?.aboutUs }}
                            </p>
                          </ion-col>
                        </ion-row>
                      </ion-item>
                      <ion-item lines="none" class="social-links ion-no-height">
                        <ion-label class="heading ion-no-padding" color="primary">Social Links</ion-label>
                      </ion-item>
                      <ion-row *ngIf="shopUser?.shopDetails?.links" class="ion-no-margin">
                        <ion-col size="4" class="ion-no-padding ion-text-center">
                          <ion-button fill="clear" (click)="openFb()">
                            <ion-icon name="logo-facebook" class="font fb"></ion-icon>
                          </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-no-padding ion-text-center">
                          <ion-button fill="clear" (click)="openInstagram()">
                            <img src="../../../assets/images/instaicon.png" alt="" class="insta" />
                          </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-no-padding ion-text-center">
                          <ion-button fill="clear" (click)="openYouTube()">
                            <ion-icon name="logo-youtube" class="font yt"></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                      <ion-item *ngIf="shopUser?.shopDetails?.links?.website" lines="none"
                        class="social-links ion-no-height">
                        <ion-grid>
                          <ion-row>
                            <ion-col size="12">
                              <ion-label class="heading ion-no-padding" color="primary">Web Link </ion-label>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="2">
                              <ion-icon name="globe-sharp" class="font fb"></ion-icon>
                            </ion-col>
                            <ion-col size="10">
                              <ion-label (click)="openWeb()"> {{shopUser?.shopDetails?.links?.website}}
                              </ion-label>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-item>
                      <ion-item lines="none" class="social-links ion-no-height">
                        <ion-label class="heading ion-no-padding" color="primary">Contact us</ion-label>
                      </ion-item>
                      <ion-row class="ion-no-padding contact">
                        <ion-col size="4" class="ion-text-center">
                          <div>
                            <ion-card class="bg-xcard">
                              <ion-icon name="chatbubble-ellipses-outline" size="large" class="call" color="primary"
                                (click)="orderAlert(shopUser)"></ion-icon>
                            </ion-card>
                            <ion-note class="heading ion-texxt-center">{{'myOrders'|translate}}</ion-note>
                          </div>
                        </ion-col>
                        <ion-col size="4" class="ion-text-center">
                          <ion-card class="bg-xcard ion-text-center">
                            <a href="tel:+91{{shopUser?.mobileNumber}}">
                              <ion-icon name="call" size="large" class="call" color="primary"></ion-icon>
                            </a>
                          </ion-card>
                          <ion-note class=" heading ion-text-center">{{'call'|translate}}</ion-note>
                        </ion-col>
                      </ion-row>
                    </ion-list>
                    <!-- gallery -->
                    <ion-list *ngSwitchCase="'gallery'">
                      <ion-card>
                        <ion-grid *ngIf="shopUser?.shopDetails?.galleryImages?.length > 0;else noDataFound">
                          <!-- <ion-grid> -->
                          <ion-row>
                            <ion-col *ngFor="let galleryImg of shopUser?.shopDetails?.galleryImages" size="6"
                              (click)="navigateToViewGalleryImages(shopUser?.shopDetails?.galleryImages)">
                              <img class="gallery ion-no-padding" src="{{galleryImg}}" />
                            </ion-col>
                          </ion-row>
                          <!-- </ion-grid> -->
                        </ion-grid>
                        <ng-template #noDataFound>
                          <div class="noData">
                            <ion-label class="ion-text-center">No Images Found</ion-label>
                          </div>
                        </ng-template>
                      </ion-card>
                    </ion-list>
                    <!-- reviews -->
                    <ion-list *ngSwitchCase="'reviews'">
                      <ion-label>Review goes here</ion-label>
                    </ion-list>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


<ion-footer class="ion-no-border">

  <ion-item *ngIf="!shopUser?.shopDetails?.isBookingService">
    <ion-col class=" ion-text-center">
      <ion-button shape="round" class="btn" expand="block" (click)="navigateTo('/catalogue')">Catalogue</ion-button>
    </ion-col>
  </ion-item>

  <ion-item *ngIf="shopUser?.shopDetails?.isBookingService">
    <ion-col size="6">
      <ion-button shape="round" class="btn" expand="block" (click)="navigateTo('/catalogue')">Catalogue</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button shape="round" class="btn" expand="block" (click)="modalFilter()">Book Now</ion-button>
    </ion-col>
  </ion-item>

</ion-footer>