<ion-header>
  <ion-toolbar>
    <ion-title> {{ 'shopList' | translate}} </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/category"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <!-- search bar -->
  <ion-row>
    <ion-col size="12">
      <ion-searchbar class="search-box ion-no-padding" inputmode="search" searchIcon animated type="text" debounce="600"
        showCancelButton="never" placeholder="{{ 'searchShop' | translate}}" autocomplete="on" autocorrect="on"
        [(ngModel)]="search" (ionChange)="onSearch()">
      </ion-searchbar>
    </ion-col>
  </ion-row>

  <ion-grid *ngIf="shopArr?.length > 0;else noDataFound">
    <ion-row *ngFor="let s of shopArr">
      <ion-col class="shadow">
        <ion-card class="shop-card" [ngStyle]="{ 
          'background-image': getUrl(s?.shopDetails?.bannerImages), 
          'background-repeat':'no-repeat', 
          'object-fit':'cover',
          'background-size':'100% 100%'

         }" (click)="navigateTo('/shop-detail',s?._id)">
          <ion-badge *ngIf="s?.shopDetails?.avgRating" color="success" class="rating ion-text-end">
            {{s?.shopDetails?.avgRating}}
            <ion-icon name="star"></ion-icon>
          </ion-badge>
        </ion-card>

        <div class="ion-text-end ion-margin-end ion-margin-top heart-img">
          <ion-fab>
            <ion-fab-button *ngIf="s.shopFavorite.length==0">
              <ion-icon name="heart-outline" color="primary" (click)="addToFavorite(s)"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          <ion-fab>
            <ion-fab-button *ngIf="s.shopFavorite.length>0">
              <ion-icon name="heart" color="primary" (click)="addToFavorite(s)"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
        <ion-label
          class="shop-name ion-margin-top ion-text-wrap ion-text-capitalize">{{s?.shopDetails?.shopName}}</ion-label>
        <ion-label (click)="navigateTo('/shop-detail',s?._id)" class="address ion-margin-top" color="
            light">
          <h4 class="address-padding ion-padding-start" *ngIf="s?.address !=[]">
            {{ s?.address?.city ? s?.address?.city : ""}}, {{s?.address?.state ?
            s?.address?.state : "" }}, {{s?.address?.pinCode ? s?.address?.pinCode :
            "" }}.
          </h4>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #noDataFound>
    <div class="noData">
      <ion-label>No Data Found</ion-label>
    </div>
  </ng-template>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>