<ion-header>
  <ion-toolbar class="bg-color-2">
    <ion-back-button class="text-color-4" slot="start"></ion-back-button>
    <ion-title class="text-color-4 ion-text-capitalize ion-text-wrap">{{'Settings' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>
    <ion-item button="true" (click)="navigateTo('view-profile')">
      <ion-icon class="text-color-2" name="person-circle" color="primary"></ion-icon>
      <ion-label class="ion-margin-start ion-text-capitalize ion-text-wrap text-color-9">
        {{"My Profile" | translate}}
        <p class="text-color-7">{{"View Your Profile" | translate}}</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" class="text-color-7" slot="end"></ion-icon>
    </ion-item>


    <ion-item button="true" (click)="navigateTo('change-language')">
      <ion-icon class="text-color-2" name="text" color="primary"></ion-icon>
      <ion-label class="ion-margin-start ion-text-capitalize ion-text-wrap text-color-9">
        {{ 'Change Language' | translate }}
        <p class="text-color-7">{{'Set App Language' | translate}}</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" class="text-color-7" slot="end"></ion-icon>
    </ion-item>



    <ion-item button="true" (click)="logout()" lines="none">
      <ion-icon class="text-color-2" ios="exit-outline" md="exit-sharp" color="primary">
      </ion-icon>
      <ion-label class="ion-margin-start ion-text-capitalize ion-text-wrap text-color-9">
        {{"logout" | translate}}
        <p class="text-color-7">{{"logout" | translate}}</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>