<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ "filter" | translate }}</ion-title>
    <ion-icon name="close-outline" slot="end" class="ion-margin-end" size="large" (click)="closeModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="filterForm">
    <ion-item class="ion-no-padding" lines="none">
      <ion-label>
        {{'nearBy :'| translate}}
      </ion-label>
    </ion-item>
    <ion-radio-group formControlName="geoNearestDistance" class="ion-radio-style ion-no-padding">
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-radio class="radio-color-1" [value]="5"></ion-radio>
            <ion-label>{{'5 km' | translate}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-radio class="radio-color-1" [value]="7"></ion-radio>
            <ion-label>{{'7 km' | translate}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-radio class="radio-color-1" [value]="10"></ion-radio>
            <ion-label>{{'10 km' | translate}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-radio class="radio-color-1" [value]="12"></ion-radio>
            <ion-label>{{'12 km' | translate}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>

  </form>
  <div class="clearfix ion-padding-top">
    <ion-button (click)="onSubmit()" expand="block" class="btn-color-1 btn-height-large" type="submit">
      {{ 'submit' | translate}}
    </ion-button>
  </div>
</ion-content>