ion-slide {
  height: 90vh !important;

  .gallery {
    height: 90vh !important;
    margin: 0 !important;
    width: 315px;
    height: 200px;
    border-radius: 5px;
  }
}


ion-buttons {
  padding: 11px 0px 0px 49px;
  margin: 1px 1px 0px 0px;

  ion-button {
    overflow: hidden;
    font-weight: 1000;
    margin-left: 15px !important;
    margin-bottom: 10px !important;
    margin-right: 9px !important;
    margin-left: 0px !important;
  }
}