<ion-header>
  <ion-toolbar class="bg-color-primary" class="bg-color-2">
    <ion-back-button class="text-color-4" slot="start"></ion-back-button>
    <ion-title class="text-color-4 ion-text-capitalize ion-text-wrap">{{'Settings' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>
    <ion-item button="true" (click)="navigateTo('view-profile')">
      <ion-icon class="text-color-2" name="person-circle" color="primary"></ion-icon>
      <ion-label class="ion-margin-start ion-text-capitalize ion-text-wrap text-color-9">
        {{"My Profile" | translate}}
        <p class="text-color-7">{{"View Your Profile" | translate}}</p>
      </ion-label>
    </ion-item>


    <ion-item button="true" (click)="navigateTo('change-language')">
      <ion-icon class="text-color-2" name="text" color="primary"></ion-icon>
      <ion-label class="ion-margin-start ion-text-capitalize ion-text-wrap text-color-9">
        {{ 'Change Language' | translate }}
        <p class="text-color-7">{{'Set App Language' | translate}}</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" class="text-color-7" slot="end"></ion-icon>
    </ion-item>
    <!-- Terms of Use -->
    <ion-item button="true" (click)="openTerms()">
      <ion-icon name="document-text-outline" color="primary"></ion-icon>
      <ion-label class="ion-margin-start ion-text-capitalize ion-text-wrap text-color-9">
        {{ 'Terms of Use' | translate }}
      </ion-label>
      <ion-icon name="chevron-forward-outline" class="text-color-7" slot="end"></ion-icon>
    </ion-item>
    <!-- Terms of Use -->

    <!-- Privacy Policy -->
    <ion-item button="true" (click)="openPolicy()">
      <ion-icon name="people-outline" color="primary"></ion-icon>
      <ion-label class="ion-margin-start ion-text-capitalize ion-text-wrap text-color-9">
        {{ 'Privacy Policy' | translate }}
      </ion-label>
      <ion-icon name="chevron-forward-outline" class="text-color-7" slot="end"></ion-icon>
    </ion-item>
    <!-- Privacy Policy  -->
    <!-- support -->
    <ion-item button="true" (click)="navigateTo('support')">
      <ion-icon name="build" color="primary"></ion-icon>
      <ion-label class="ion-margin-start ion-text-capitalize ion-text-wrap text-color-9">
        {{ 'Support' | translate }}
      </ion-label>
      <ion-icon name="chevron-forward-outline" class="text-color-7" slot="end"></ion-icon>
    </ion-item>
    <!-- support -->
    <ion-item button="true" (click)="logOutAlert()" lines="none">
      <ion-icon class="text-color-2" ios="exit-outline" md="exit-sharp" color="primary">
      </ion-icon>
      <ion-label class="ion-margin-start ion-text-capitalize ion-text-wrap text-color-9">
        {{"logout" | translate}}
        <p class="text-color-7">{{"logout" | translate}}</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>