<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{ 'editProfile' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="img">
      <ion-avatar class="avatar border-color-7" (click)="fileInput1.click()">
        <img src="{{profileForm.value.profilePicture}}">
      </ion-avatar>
      <ion-text>
        <ion-chip class="bg-color-5 text-color-2">
          {{ 'changeProfile' | translate}}
        </ion-chip>
        <input hidden autocapitalize="on" #fileInput1 autocomplete="on" type="file" name="file"
          (change)="uploadFile($event)" required>
      </ion-text>
    </div>


    <form [formGroup]="profileForm">
      <ion-item class="input-class">
        <ion-label position="stacked">
          {{ 'FirstName' | translate}}
          <ion-note color="danger">*</ion-note>
        </ion-label>
        <ion-input type="text" placeholder="{{ 'FirstName' | translate}}" formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item class="input-class">
        <ion-label position="stacked">
          {{ 'LastName' | translate}}
          <ion-note color="danger">*</ion-note>
        </ion-label>
        <ion-input type="text" placeholder="{{ 'LastName' | translate}}" formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item class="input-class">
        <ion-label position="stacked">
          {{ 'mobileNumber' | translate}}
          <ion-note color="danger">*</ion-note>
        </ion-label>
        <ion-input maxlength="10" minlength="10" type="number" placeholder="{{ 'mobile' | translate}}"
          formControlName="mobileNumber"></ion-input>
      </ion-item>
      <ion-item class="input-class">
        <ion-label position="stacked">
          {{ 'email' | translate}}
          <ion-note color="danger">*</ion-note>
        </ion-label>
        <ion-input type="text" placeholder="{{ 'email' | translate}}" formControlName="email"></ion-input>
      </ion-item>

      <div class="accordian">
        <ion-accordion-group expand="inset">
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Address</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-label formGroupName="address">
                <ion-item class="input-class">
                  <ion-label position="stacked">
                    {{ 'address' | translate}}
                    <ion-note color="danger">*</ion-note>
                  </ion-label>
                  <ion-input type="text" placeholder="{{ 'address' | translate}}" formControlName="line1"></ion-input>
                </ion-item>
                <ion-item class="input-class">
                  <ion-label position="stacked">
                    {{ 'city' | translate}}
                    <ion-note color="danger">*</ion-note>
                  </ion-label>
                  <ion-input type="text" placeholder="{{ 'city' | translate}}" formControlName="city"></ion-input>
                </ion-item>
                <ion-item class="input-class">
                  <ion-label position="stacked">
                    {{ 'state' | translate}}
                    <ion-note color="danger">*</ion-note>
                  </ion-label>
                  <ion-input type="text" placeholder="{{ 'state' | translate}}" formControlName="state"></ion-input>
                </ion-item>
                <ion-item class="input-class">
                  <ion-label position="stacked">
                    {{ 'Country' | translate}}
                    <ion-note color="danger">*</ion-note>
                  </ion-label>
                  <ion-input type="text" placeholder="{{ 'Country' | translate}}" formControlName="country"></ion-input>
                </ion-item>
                <ion-item class="input-class">
                  <ion-label position="stacked">
                    {{ 'pinCode' | translate}}
                    <ion-note color="danger">*</ion-note>
                  </ion-label>
                  <ion-input type="text" placeholder="{{ 'pinCode' | translate}}" formControlName="pinCode"></ion-input>
                </ion-item>
              </ion-label>

            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
      <div class="ion-text-center ion-margin-vertical">
        <ion-button color="primary" expand="block" shape="round" class="btn" (click)="updateProfile()">
          {{ 'submit' | translate}}
        </ion-button>
      </div>
    </form>
  </ion-card>
</ion-content>