<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md"> {{ 'editProfile' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="img">
    <ion-avatar class="avatar border-color-7" (click)="uploadFile()">
      <img src="assets/images/placeholder_profile.png" *ngIf="!fileUploaded">
      <img [src]="form.path.value" *ngIf="fileUploaded">
    </ion-avatar>
    <ion-text>
      <ion-chip class="bg-color-5 text-color-2">
        {{ 'changeProfile' | translate}}
      </ion-chip>
    </ion-text>
  </div>
  <form [formGroup]="profileForm">
    <ion-item class="input-class" lines="none">
      <ion-label class="text-color-2" position="stacked">{{ 'firstName' | translate}} <span
          class="span-color">*</span></ion-label>
      <ion-input formControlName="firstName" type="text" name="firstName"
        placeholder="{{ 'firstNameText' | translate}} " autocomplete="on" clearInput>
      </ion-input>
    </ion-item>
    <div class="text-left" *ngFor="let error of errorMessages.firstName">
      <ng-container *ngIf="form.firstName.hasError(error.type) && (form.firstName.dirty || form.firstName.touched)">
        <small class="text-color-danger">{{ error.message }}</small>
      </ng-container>
    </div>

    <ion-item class="input-class" lines="none">
      <ion-label class="text-color-2" position="stacked">{{ 'LastName' | translate}} <span
          class="span-color">*</span></ion-label>
      <ion-input formControlName="lastName" type="text" name="lastName"
        placeholder="{{ 'lastNameText' | translate}} " autocomplete="on" clearInput>
      </ion-input>
    </ion-item>
    <div class="text-left" *ngFor="let error of errorMessages.lastName">
      <ng-container *ngIf="form.lastName.hasError(error.type) && (form.lastName.dirty || form.lastName.touched)">
        <small class="text-color-danger">{{ error.message }}</small>
      </ng-container>
    </div>

    <!-- <ion-item class="input-class" lines="none">
      <ion-label class="text-color-2" position="stacked">{{ 'mobileNumber' | translate}} <span
          class="span-color">*</span></ion-label>
      <ion-input formControlName="mobileNumber" maxlength="10" minlength="10" type="number"
        placeholder="{{ 'enter mobile number' | translate}} " autocomplete="on" clearInput>
      </ion-input>
    </ion-item> -->
    <!-- <ion-item class="input-class" lines="none">
      <ion-label class="text-color-2" position="stacked">{{ 'email' | translate}} <span
          class="span-color">*</span></ion-label>
      <ion-input formControlName="email" type="email" placeholder="{{ 'enter email' | translate}} " autocomplete="on"
        clearInput>
      </ion-input>
    </ion-item> -->
  </form>
  <div class="clearfix ion-padding-top">
    <ion-button (click)="updateProfile()" expand="block" class="btn-color-1 btn-height-large" type="submit">
      {{ 'save' | translate}}
    </ion-button>
  </div>
</ion-content>