<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button
      *ngIf="!showSkip"
      type="button"
      color="secondary"
      routerDirection="root"
      (click)="navigateTo()"
      fill="clear"
      size="large"
      slot="end"
    >
      <b>SKIP</b>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="ion-no-padding" >
  <ion-slides
    #slides
    id="slides"
    (ionSlideWillChange)="onSlideChangeStart($event)"
    pager="true"
    [options]="slideOpts"
    autplay="true"
    
  >
    <ion-slide>
      <img src="./assets/onboard/11.gif" class="slide-image" />
      <!-- <ion-note>
        <!-- Keep the track of your UDHARI  -->
        <!-- तुमच्या उधारीची नोंद ठेवा. / आपके उधारी का हिसाब रखें | -->
         <!-- </ion-note> --> 
    </ion-slide>
    <ion-slide>
      <img src="./assets/onboard/5.svg" class="slide-image" />
      <!-- <ion-note> -->
        <!-- आपल्या मौल्यवान ग्राहकांशी जुळून रहा. / अपने मूल्यवान ग्राहकों से जुड़े रहें | -->
        <!-- Stay connected your valuable customers. -->
         <!-- </ion-note> -->
    </ion-slide>
    <ion-slide>
      <img src="./assets/onboard/3.svg" class="slide-image" />
      <!-- <ion-note> -->
         <!-- Recover your udhaari on time. -->
         <!-- तुमची उधारी वेळेवर वसूल करा. / अपनी उधारी को समय पर पुनर्प्राप्त करें | -->
        <!-- </ion-note> -->
    </ion-slide>

    <!-- <ion-slide>
      <img src="./assets/onboard/4.svg" class="slide-image" />
      <ion-note>
        In order to create an engaging learning experience, the role of
        instructor is optional, but the role of learner is essential.
      </ion-note>
    </ion-slide>

    <ion-slide>
      <img src="./assets/onboard/5.svg" class="slide-image" />
      <ion-note>
        In order to create an engaging learning experience, the role of
        instructor is optional, but the role of learner is essential.
      </ion-note>
    </ion-slide> -->
  </ion-slides>
  <ion-title class="slide-title ion-text-center"> OB[O BHAIYA] </ion-title>
</ion-content>
