ion-content {
    --ion-background-color: var(--ion-color-e4) !important;
  }
  
  .chip-reset-code {
    width: 90%;
    border-radius: 10px;
    --background: #cdcdce;
    margin-left: auto;
    --ripple-color: #666666;
    margin-right: auto;
  }