.avatar{
    margin: auto;
    width: 5em;
    height: 5em;
}

.center{
    text-align: center;
}


.user-info {
    .shop-name, .email, .mobile-number, .address {
        --color: #0D276B;
        color: #0D276B;
        font-weight: bold;
    }
}