.img-logo {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 7.2rem;
    left: 20px;
    border-radius: 50%;

    // height: 105px;
    // width: 120px;
    border: 4.5px solid white;

    // margin-bottom: 5px !important;

    background: #F2BF46;

    img {
        // position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: inherit;

    }


}

.font-bold {
    font-size: 14px !important;
    font-weight: bold;
    color: black;
  }
  
  .fb {
    color: #3b5998;
    width: 2.5rem;
    height: 2.5rem;
  }
  
  .insta {
    color: #bc2a8d;
    width: 2.5rem;
    height: 2.5rem;
  }
  
  .yt {
    color: #FF0000;
    width: 2.5rem;
    height: 2.5rem;
  }
  
  .icon {
    color: #0090D0;
    font-size: 17px;
  }
  
  .gallery {
    border-radius: 5% !important;
    height: auto !important;
    width: 70% !important;
    background-color: rgb(120, 100, 100) !important;
  }
  
  :host {
    --cs-size-avatar: 120px;
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(128, 128, 128, 0.1);
  }
  
  ion-card {
    ion-avatar {
      width: var(--cs-size-avatar) !important;
      height: var(--cs-size-avatar) !important;
      margin: 15px auto 20px;
      border: 2px solid var(--cs-background-primary, #ffffff);
    }
  }
  
  .social-share {
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  
  .card-content-md {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px;
    padding-bottom: 13px;
    font-size: 14px;
    line-height: 1.5;
  
  }
  
  .gallery {
    width: 100px !important;
    height: 80px !important;
  }
  
  .banner-img {
    border-radius: 5px !important;
    width: 363px !important;
    margin-left: 7px;
    height: 233px !important;
  }
  
  
  .background-size {
    height: 40vh;
    position: relative;
    background-color: var(--cs-blandModes-secondary, #ffffff);
    background-blend-mode: luminosity;
  
    &::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      pointer-events: none;
      mix-blend-mode: var(--cs-mode-image);
      background: var(--cs-gradient-linear);
    }
  
    .icon-small {
      color: var(--cs-icon-color-secondary, #ffffff) !important;
      position: relative;
      z-index: 999;
    }
  
    .image {
      padding: 0px 5px;
  
      img {
        width: 200px !important;
      }
    }
  
  
  }
  
  .edit{
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .margin-right{
    margin-right:10px !important;
    font-size:2px !important;
  }
 