ion-content{
.logo-img {
    position: absolute;
    top: 8rem;
    left: 40px;
    height: 105px;
    width: 121px;
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 5px !important;
}
img{
    width: 99%;
    height: 30%;
}
h3{
    margin-top: 31px;
    
}
.px{
    margin-top: -8px;
    font-size: small;
}
.font{
    font-size: 30px !important;
}
.left{
    margin-left: 25px !important;
    margin-right: 25px !important;
}
.fb{
    color: #3b5998;
}
.insta{
    color: #bc2a8d;
}
.yt{
    color: #FF0000;
}
.ion-text-center{
    text-align: center !important;
    top: -5px;
}
ion-margin-start {
    margin-left: unset;
    margin-inline-start: var(--ion-margin, 14px);
}
ion-label{
    font-size: medium;
}
}
