<ion-header>
  <ion-toolbar>
    <ion-title>{{shopName}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="catalogue"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let msg of msgArr">
    <div  *ngIf="msg.message"  [ngClass]="msg.createdBy == user._id ? 'ion-text-end':null">
      <ion-chip [color]="msg.createdBy == user._id ? 'dark' :'primary'" class="ion-text-wrap">{{msg.message}}
        <div class="clearfix text-right size">
          <span style="opacity: 0.5">
            {{msg?.createdAt | date:'shortTime'}}</span>
        </div>
      </ion-chip>
    </div>

    <div *ngIf="msg.image" class="left" [ngClass]="msg.createdBy == user._id ? 'ion-text-end':null">
      <img src="{{msg.image}}" width="60%" height="60%" [ngClass]="msg.createdBy == user._id ? 'ion-text-end':null">
      <div class="clearfix text-right size">
        <span style="opacity: 0.5">
          {{msg?.createdAt | date:'shortTime'}}</span>
      </div>
    </div><br>
  </div>


  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)" [disabled]="disabledScroll">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <form [formGroup]="chatForm">
      <ion-item lines="none" id="chatInput">
        <ion-textarea formControlName="message" spellcheck="true" rows="1" autoComplete=" true" autocorrect="true"
          maxlength="500" type="text" placeholder="Type your message...">
        </ion-textarea>
        <input hidden autocapitalize="on" #fileInput1 autocomplete="on" type="file" name="file"
          (change)="uploadFileAWS($event)" required>
        <ion-button fill="clear" (click)="fileInput1.click()">
          <ion-icon class="text-color-1" size="large" name="attach"></ion-icon>
        </ion-button>
        <ion-button class="btn-color-2" (click)="sendMessage()">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-item>
    </form>
  </ion-toolbar>
</ion-footer>