.toolbar-transparent {
  --background: transparent;
  position: absolute;
}

.head-image {
  height: 230px;
  width: 100%;
}

.text-label {
  font-size: larger;
}

.span-color {
  color: red;
}

.language-btn {
  position: absolute;
  right: 0;
  background-color: red;
  color: white;
}