<ion-content>
  <ion-card>
    <div class="ion-text-center">
      <img src="./assets/image/login.svg" alt="Logo" height="350" />
    </div>

    <form [formGroup]="loginForm">
      <ion-item class="input-class" [class.invalid]="!form.mobile.valid && (form.mobile.dirty || submitted)">
        <ion-label position="stacked">
          {{ 'Mobile Number' | translate}}
          <ion-note color="danger">*</ion-note>
        </ion-label>
        <ion-input maxlength="10" pattern="[0-9]{10}" type="number" placeholder="{{ 'Mobile Number' | translate}}"
          formControlName="mobile" inputmode="number"></ion-input>
      </ion-item>
      <app-validation-messages [control]="form.mobile">
      </app-validation-messages>


      <ion-item class="input-class" [class.invalid]="!form.password.valid && (form.password.dirty || submitted)">
        <ion-label position="stacked">
          {{ 'password' | translate }}
          <ion-note color="danger">*</ion-note>
        </ion-label>
        <ion-input formControlName="password" [type]="passwordType" name="password"
          placeholder="{{ 'password' | translate }}" autocomplete="on" clearInput></ion-input>
       <ion-icon class="input-icon eye-password" slot="end" name="eye" *ngIf="!showEye" (click)="onClickEye()">
        </ion-icon>
        <ion-icon class="input-icon eye-password" name="eye-off-outline" slot="end" *ngIf="showEye"
          (click)="onClickEye()">
        </ion-icon>
      </ion-item>

      <ion-row>
        <ion-col size="12" class="ion-text-end">
          <a href="javascript:void()" routerLink="/forget-pwd" routerLinkActive="active">
            <strong>{{'forgotPassword'|translate}}</strong>
          </a>
        </ion-col>
      </ion-row>
      <div class="ion-text-center">
        <ion-button expand="full" shape="round" class="" color="primary" (click)="login()">
          {{'login'|translate}}
        </ion-button>
        <h5 class="ion-no-padding">
          Not have an account Yet?
          <a href="javascript:void()" routerLink="/register">
            <ion-label>
              {{ 'SignUp' | translate}}
            </ion-label>
          </a>
        </h5>
      </div>
    </form>
  </ion-card>
</ion-content>