<ion-content class="shadow-none ion-no-padding">
  <ion-badge color="primary" class="language-btn">
    <ion-select [(ngModel)]="lang" (ionChange)="setLanguage($event)">
      <ion-select-option *ngFor="let item of languages" [value]="item.value">{{item.label}}</ion-select-option>
    </ion-select>
  </ion-badge>

  <img src="assets/images/fire_login.jpg" class="head-image">
  <div class="ion-padding">
    <div class="ion-text-center">
      <ion-text class="text-label text-color-2 text-bold">
        {{ 'signIn' | translate}}
      </ion-text>
      <p class="text-color-1">
        {{ 'welcomeText' | translate}}
      </p>
    </div>

    <form [formGroup]="loginForm">
      <ion-item class="input-class mt-3" lines="none">
        <ion-label class="text-color-2" position="stacked">{{ 'mobileNumber' | translate}} <span
            class="span-color">*</span></ion-label>
        <ion-input formControlName="mobileNumber" type="tel" name="mobileNumber" maxlength="10"
          placeholder="{{ 'mobileNumber' | translate}}" autocomplete="on" clearInput>
        </ion-input>
      </ion-item>
      <div class="text-left" *ngFor="let error of errorMessages.mobileNumber">
        <ng-container
          *ngIf="form.mobileNumber.hasError(error.type) && (form.mobileNumber.dirty || form.mobileNumber.touched)">
          <small class="text-color-danger">{{ error.message }}</small>
        </ng-container>
      </div>
      <div class="clearfix ion-padding-top">
        <ion-button (click)="login()" shape="round" expand="block" class="btn-color-1 btn-height-large" type="submit">
          {{ 'continue' | translate}}
        </ion-button>
      </div>
      <div class="d-flex justify-content-center ion-margin-top">
        <p class="ion-text-center">
          {{'notAccount'| translate}}
          <a class="font-weight-bold" role="button" (click)="navigateToSignUp()">{{'signUpBtn'|translate}}</a>
        </p>
      </div>
      <div class="d-flex justify-content-center ion-margin-top">
        <p class="ion-text-center">
          {{'termsAndConditionNote'| translate}}
        </p>
      </div>
    </form>
  </div>
</ion-content>