<ion-header>
  <ion-toolbar>
    <ion-title>{{'BooK Appointment' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="category" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-margin-end">
      <ion-icon name="home" slot="end" (click)="navigateToHome()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item  (click)="modalFilter()">
      <ion-label class="ion-text-wrap">
        <p class="ion-text-wrap text-muted">select date and time to book your appointment
          <!-- {{ item.title }} -->
        </p>
      </ion-label>
      <ion-button shape="round" fill="clear" class="text-color-7">
        <ion-icon name="chevron-forward-outline" class="text-color-7" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-button color="primary" expand="block" strong="true" shape="round" class="ion-margin-top"
  (click)="navigateTo()">
  {{'Book Appointment' | translate}}
</ion-button>
</ion-content>
