<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="landing-page"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ 'editProfile' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loaded">
  <ion-card>
    <form [formGroup]="registerForm">
      <ion-item
        class="input-class"
        [class.invalid]="!form.shopName.valid && (form.shopName.dirty || submitted)"
      >
        <ion-label position="stacked">
          {{ 'shopName' | translate}}
          <ion-note color="danger">*</ion-note>
        </ion-label>
        <ion-input
          placeholder="{{ 'shopName' | translate}}"
          formControlName="shopName"
        ></ion-input>
      </ion-item>
      <app-validation-messages class="error-message" [control]="form.shopName">
      </app-validation-messages>

      <ion-item
        class="input-class"
        [class.invalid]="!form.name.valid && (form.name.dirty || submitted)"
      >
        <ion-label position="stacked">
          {{ 'fullName' | translate}}
          <ion-note color="danger">*</ion-note>
        </ion-label>
        <ion-input
          placeholder="{{ 'fullName' | translate}}"
          formControlName="name"
        ></ion-input>
      </ion-item>
      <app-validation-messages class="error-message" [control]="form.name">
      </app-validation-messages>

      <ion-item
        class="input-class"
        [class.invalid]="!form.mobile.valid && (form.mobile.dirty || submitted)"
      >
        <ion-label position="stacked">
          {{ 'mobileNumber' | translate}}
          <ion-note color="danger">*</ion-note>
        </ion-label>
        <ion-input
          maxlength="10"
          pattern="[0-9]{10}"
          type="text"
          placeholder="{{ 'mobileNumber' | translate}}"
          formControlName="mobile"
          inputmode="numeric"
        ></ion-input>
      </ion-item>
      <app-validation-messages class="error-message" [control]="form.mobile">
      </app-validation-messages>

      <ion-item
      class="input-class"
      [class.invalid]="!form.address.valid && (form.address.dirty || submitted)"
    >
      <ion-label position="stacked">
        {{ 'address' | translate}}
        <ion-note color="danger">*</ion-note>
      </ion-label>
      <ion-input
        placeholder="{{ 'address' | translate}}"
        formControlName="address"
      ></ion-input>
    </ion-item>
    <app-validation-messages class="error-message" [control]="form.address">
    </app-validation-messages>


      <div class="ion-text-center ion-margin-vertical">
        <ion-button
          color="primary"
          expand="full"
          shape="round"
          class="btn"
          (click)="register()"
        >
          {{ 'submit' | translate}}
        </ion-button>
      </div>
    </form>
  
  </ion-card>
</ion-content>

<ion-content class="ion-padding" *ngIf="!loaded">
  <form>
    <ion-item class="input-class" lines="none">
      <ion-label position="stacked">
        <ion-skeleton-text
          [animated]="true"
          style="width: 50%"
        ></ion-skeleton-text>
      </ion-label>
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-item>
    <ion-item class="input-class" lines="none">
      <ion-label position="stacked">
        <ion-skeleton-text
          [animated]="true"
          style="width: 50%"
        ></ion-skeleton-text>
      </ion-label>
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-item>

    <ion-item class="input-class" lines="none">
      <ion-label position="stacked">
        <ion-skeleton-text
          [animated]="true"
          style="width: 50%"
        ></ion-skeleton-text>
      </ion-label>
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-item>
    <ion-item class="input-class" lines="none">
      <ion-label position="stacked">
        <ion-skeleton-text
          [animated]="true"
          style="width: 50%"
        ></ion-skeleton-text>
      </ion-label>
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-item>

    <div class="ion-text-center ion-margin-vertical">
      <ion-button color="primary" expand="full" shape="round" class="btn">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-button>
    </div>
  </form>
</ion-content>