ion-content {
  height: 100vh;
  // --background: #df7e7e !important;

  ion-card {
    margin: -2px;
    border-radius: 1em;
    height: 44.5rem !important;
  }

  .eye-password {
    font-size: 25px;
    padding-top: 0px;
    vertical-align: middle;
    color: #030c0b;
  }

  h6 {
    font-size: 17px;
    margin: -8px 0px 20px 0;
    padding: 13px;
    word-spacing: 3px;
  }
  h5 {
    font-size: 17px;
    margin: -16px 0px 20px 0;
    padding: 13px;
    word-spacing: 3px;
  }

}
