ion-content {
    height: 100vh;

    ion-card {
        margin: 0;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 2rem;
        --background: transparent;
        background: transparent;
        box-shadow: none;
        ion-card-content {
            padding-top: 0;
            form {
                padding: 0 5px;
            }
        }

        .forget-text {
            text-align: end;
            padding: 1rem 0;
        }

        .sign-up-text {
            text-align: start;
            padding: 1rem 0;
        }
    }
}