<ion-content>
  <ion-card>

    <div class="ion-text-center">
      <img src="./assets/image/login.svg" alt="Logo" height="290" />
    </div>

    <form [formGroup]="loginForm">
      <ion-item class="input-class" [class.invalid]="!form.mobile.valid && (form.mobile.dirty || submitted)">
        <ion-label position="stacked">
          {{ 'Mobile Number' | translate}}
          <ion-note color="danger">*</ion-note>
        </ion-label>
        <ion-input maxlength="10" pattern="[0-9]{10}" type="number" placeholder="{{ 'Mobile Number' | translate}}"
          formControlName="mobile" inputmode="number"></ion-input>
      </ion-item>
      <app-validation-messages [control]="form.mobile">
      </app-validation-messages>

      <ion-item class="input-class" [class.invalid]="!form.password.valid && (form.password.dirty || submitted)">
        <ion-label position="stacked">
          {{ 'password' | translate }}
          <ion-note color="danger">*</ion-note>
        </ion-label>
        <ion-input formControlName="password" [type]="showEye ? 'password':'text'" name="password"
          placeholder="{{ 'password' | translate }}" autocomplete="on" clearInput></ion-input>
        <ion-icon class="input-icon eye-password" slot="end" name="eye" *ngIf="!showEye" (click)="showEye = !showEye">
        </ion-icon>
        <ion-icon class="input-icon eye-password" name="eye-off-outline" slot="end" *ngIf="showEye"
          (click)="showEye = !showEye">
        </ion-icon>
      </ion-item>
    </form>

    <!-- <div> -->
    <a href="javascript:void()" routerLink="/forget-pwd">
      <h6> <span style="float:right"> {{ 'Forgot Password ?' | translate}}
        </span></h6>
    </a>
    <!-- </div> <br> -->
    <div class="ion-text-center ion-margin-vertical">
      <ion-button color="primary" expand="full" shape="round" class="btn" (click)="login()">
        {{ 'Login' | translate}}
      </ion-button>
    </div>

    <div class="ion-text-center signup">
      <h5>
        Not have an account Yet?
        <a href="javascript:void()" routerLink="/register">
          <ion-label>
            {{ 'SignUp' | translate}}
          </ion-label>
        </a>
      </h5>
    </div>

  </ion-card>
</ion-content>