<ion-header>
  <ion-toolbar class="bg-color-2">
    <ion-title class="text-color-4 ion-text-capitalize">{{ 'orders' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref mode="md" (click)="dismissModal(true,'')"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-no-padding">
  <ion-list *ngIf="orderList.length; else noRequestsFound">
    <ion-item *ngFor="let item of orderList" button>
      <ion-avatar slot="start">
        <img class="product-image" src="assets/images/placeholder_profile.png" alt="product-image">
      </ion-avatar>
      <ion-label>
        <ion-row class="ion-justify-content-between">
          <ion-col>
            <h2 class="text-color-2 ion-text-capitalize text-bold ion-text-wrap">
              <span class="text-bold"> {{ item?.shopDetails?.shopName }}</span>
            </h2>
            <p class="text-color-2">{{ item?.orderNumber }}</p>
            <p class="text-color-7 ion-text-wrap">{{ item?.createdAt | date:'d MMM, y h:mm a' }}</p>
          </ion-col>
          <ion-col class="ion-text-end">
            <div>
              <ion-chip *ngIf="item?.status === defaultStatus.NEW" color="warning">
                <ion-text
                  class="ion-text-capitalize">{{item.secondaryStatus?item.secondaryStatus:secondaryStatus.WAITING}}</ion-text>
              </ion-chip>
              <ion-chip *ngIf="item?.status === defaultStatus.ACTIVE" color="success">
                <ion-text
                  class="ion-text-capitalize">{{item.secondaryStatus?item.secondaryStatus:secondaryStatus.ACCEPT}}</ion-text>
              </ion-chip>
              <ion-chip *ngIf="item?.status === defaultStatus.REJECTED" color="danger">
                <ion-text
                  class="ion-text-capitalize">{{item.secondaryStatus?item.secondaryStatus:secondaryStatus.REJECT}}</ion-text>
              </ion-chip>
            </div>
            <div *ngIf="item?.status === defaultStatus.COMPLETED">
              <ion-chip>
                <ion-text
                  class="ion-text-uppercase">{{item.secondaryStatus?item.secondaryStatus:secondaryStatus.COMPLETED}}</ion-text>
              </ion-chip>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <ion-col class="ion-no-padding">
            <span class="text-color-2 text-bold ion-text-capitalize pl-1">
              <i class="fa fa-inr pl-1" aria-hidden="true"></i> {{item?.totalAmount? item?.totalAmount:0}}
            </span>
          </ion-col>
          <ion-col size="2" class="ion-no-padding ion-text-end">
            <ion-icon name="chevron-forward" class="text-color-7"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #noRequestsFound>
    <ion-item lines="none" class="mt-5">
      <ion-label class="ion-text-center ion-text-wrap text-color-5">No Order Available !!</ion-label>
    </ion-item>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="bg-color-2" (click)="goToChat()">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>