<ion-header>
  <ion-toolbar>
    <ion-title> {{ 'favoritesShop' | translate}} </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/landing-page"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <!-- search bar -->
  <ion-row>
    <ion-col size="12">
      <ion-searchbar
        class="search-box ion-no-padding ion-margin-bottom size"
        inputmode="search"
        searchIcon
        animated
        type="text"
        debounce="600"
        showCancelButton="never"
        placeholder="{{ 'Search Shop' | translate}}"
        autocomplete="on"
        autocorrect="on"
        [(ngModel)]="search"
        (ionChange)="onSearch()"
      >
      </ion-searchbar>
    </ion-col>
  </ion-row>

  <ion-grid>
    <ion-row *ngFor="let s of shopArr">
      <ion-col size="12" *ngIf="s?.shopFavorite.length>0">
        <ion-card
          class="shop-card"
          [ngStyle]="{ 
          'background-image': getUrl(s.image), 
          'background-repeat': no-repeat, 
          'object-fit':cover
         }"
        >
          <ion-title
            class="shop-name ion-no-padding"
            color="primary"
            class="center"
            color="light"
            (click)="navigateTo('/shop-detail',s._id)"
          >
            <b class="name">{{s.shopName}}</b>
          </ion-title>
          <div class="ion-text-end ion-margin-end ion-margin-top">
            <ion-icon
              *ngIf="s && s.shopFavorite && !s.shopFavorite.length
               "
              (click)="addToFavorite(s)"
              name="heart-outline"
              size="large"
              slot="end"
            >
            </ion-icon>
            <ion-icon
              *ngIf="s && s.shopFavorite && s.shopFavorite.length
                 "
              (click)="addToFavorite(s)"
              class="text-color-danger"
              name="heart"
              size="large"
              slot="end"
            ></ion-icon>
          </div>
          <ion-badge
            color="success"
            class="rating ion-text-end"
            (click)="navigateTo('/shop-detail',s._id)"
          >
            5
            <ion-icon name="star"></ion-icon>
          </ion-badge>
          <ion-note
            (click)="navigateTo('/shop-detail',s._id)"
            class="address ion-margin-start"
            color="
            light"
          >
            {{ s.address.city ? s.address.city : ""}}, {{s.address.state ?
            s.address.state : "" }}, {{s.address.pinCode ? s.address.pinCode :
            "" }}.
          </ion-note>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
