<ion-header>
  <ion-toolbar>
    <ion-title>subcategory</ion-title>
  </ion-toolbar>
</ion-header>

<!-- (ionFocus)="navigateTo('/search-shop',null)">  -->

<ion-content>
 <ion-row>
  <ion-col *ngFor=" let s of SubCategoryDetails" (click)=" getSubCategory(s._id)" size="6">
    <ion-card class="card" fill="outline">
      <ion-row>
        <ion-col size="12">
          <img src="{{s.image}}" >
           <ion-note>{{s.name}}</ion-note> 
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-col>
 </ion-row>
   
</ion-content>
