<!-- tab bar -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngFor="let item of tabPages" tab="{{ item?.tab}}">
      <ng-container *ngIf="item.value != 'qr-code'">
        <ion-icon [ios]="item.icon + '-outline'" [md]="item.icon"></ion-icon>
        <ion-label>{{ item?.title |translate}}</ion-label>
      </ng-container>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab slot="fixed" horizontal="center" vertical="bottom">
  <ion-fab-button (click)="navigateTo({url:'./app/tabs/qr-code'})">
    <ion-icon name="qr-code-sharp"></ion-icon>
  </ion-fab-button>
</ion-fab>
