.ion-icon-btm {
    vertical-align: text-bottom;
}

ion-content {
    --padding-top: 0px !important;
    height: 80vh;

    ion-card {
        margin-top: 10px;
    }

    .segment-card {
        box-shadow: none;
        padding: 0.5rem;

        ion-card-header {
            border-radius: 1rem;
            padding: 0;
        }

        ion-card {

            ion-card-content {
                padding: 10px;
            }
        }
    }
}