<ion-header>
  <ion-toolbar> 
     
   <ion-title>Product</ion-title>
   <ion-buttons slot="start">
     <ion-back-button defaultHref="category" mode="md"></ion-back-button>
   </ion-buttons>
 </ion-toolbar> 
 </ion-header>
 

  <h3>SubCategory </h3>

 <ion-row>
   <ion-col *ngFor="let s of subCategoryArr" size="4">
    
      <ion-card class="product-card"  (click)="getShopById (s._id)">
       <ion-card-header>
         <ion-row>
           <ion-col size="12">
             <img src="{{s.image}} ">
             <ion-note>{{s.name}}</ion-note>
           </ion-col>
         </ion-row>
       </ion-card-header>
     </ion-card>
   </ion-col>
 </ion-row>
 <ion-content>
    <div class="container"> 
   <ion-grid>
     <ion-row>
       <ion-col *ngFor=" let c of catalogueArr">
         <ion-list>  
         <ion-item>
          <ion-checkbox slot="start"></ion-checkbox>
         <ion-thumbnail slot="start">
         
           <img src="{{c.image}}" >
         </ion-thumbnail> 
          <ion-label >
           <h2>{{c.title}}<span style="float:right">&#8377;
             {{c.price}}</span>
           </h2>
           <p>{{c.description}}</p>
           <h3 style="color: rgb(83, 7, 153);" >
             <ion-icon name="star-outline"></ion-icon>
             <ion-icon name="star-outline"></ion-icon>
             <ion-icon name="star-outline"></ion-icon>
             <ion-icon name="star-outline"></ion-icon>
             <ion-icon name="star-outline"></ion-icon>
           </h3>
         </ion-label> 
       </ion-item>
         </ion-list>
       </ion-col>
     </ion-row>
     </ion-grid>
   </div> 
 
   
 
 
   <ion-button color="primary" expand="block" fill="outline" strong="true" shape="round" class="ion-margin-top" 
  routerLink='/chat-view'>
   <!-- <ion-icon name="eye"></ion-icon> -->
   {{ 'Place Order'}}
 </ion-button>
   
   
 </ion-content>
 