.container{
    width: 100%;
   
    ion-thumbnail{
        width: 100px !important;
        height: 100px !important;
        img{
            border-radius: 10px;
        
        }
       
    }
    .card{
        width:100px;
        height:80px;
    }
    ion-checkbox::part(container) {
        border-radius: 6px;
        border: 1px solid #6815ec;
      }
}