<ion-header>
  <ion-toolbar>
    <ion-title> {{ 'customerList' | translate}} </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/landing-page"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="shadow-none" shape="round" routerLink="/customer-form">
        <ion-icon name="add-circle" size="large"></ion-icon>
        <!-- <ion-text>{{ 'customer' | translate}}</ion-text> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <!-- search bar -->
  <ion-searchbar
    class="search-box ion-no-padding"
    inputmode="search"
    searchIcon
    animated
    type="text"
    showCancelButton="never"
    placeholder="{{ 'searchCustomer' | translate}}"
    autocomplete="on"
    autocorrect="on"
    [(ngModel)]="search"
    (ionChange)="onSearch()"
  >
  </ion-searchbar>
  <!-- 
  <ion-item class="input-class" lines="none">
    <ion-label position="stacked" color="primary"> Price Range </ion-label>
    <ion-range
      (ionChange)="onSearch($event)"
      debounce="600"
      [dualKnobs]="true"
      [value]="range"
      pin="true"
      ticks="true"
    >
      <ion-label slot="start" color="primary">{{startPrice}}</ion-label>
      <ion-label slot="end" color="primary">{{endPrice}}</ion-label>
    </ion-range>
  </ion-item> -->
  <ion-card *ngIf="!customerArr.length" class="no-data">
    <div class="ion-text-center">
      <img src="./assets/image/no-data.svg" alt="Logo" />
    </div>
  </ion-card>
  <ion-card *ngIf="customerArr.length">
    <ion-card-content class="ion-no-padding">
      <ion-item
        lines="none"
        class="ion-margin-bottom"
        style="box-shadow: #9fb1dc 0px 25px 20px -20px"
        *ngFor="let item of customerArr"
    (click)="navigateTo('/customer-udari',item.id)" 
      >
        <ion-icon
          class="ion-margin-end"
          name="person-circle-sharp"
          size="large"
          color="secondary"
        ></ion-icon>
        <ion-label class="text-bold">
          {{ item?.name }}
          <p>{{ item?.mobile }}</p>
        </ion-label>
        <ion-label class="text-bold" color="primary" slot="end">
          <ion-chip class="agoDate"> {{item?.updatedAt | dateAgo}}</ion-chip
            ><br />
          ₹ {{ item?.balance }}
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-content class="ion-padding" *ngIf="!loaded">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-content class="ion-no-padding">
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          <p>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-avatar slot="end">
          <ion-skeleton-text animated style="width: 130%"></ion-skeleton-text>
        </ion-avatar>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          <p>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-avatar slot="end">
          <ion-skeleton-text animated style="width: 130%"></ion-skeleton-text>
        </ion-avatar>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          <p>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-avatar slot="end">
          <ion-skeleton-text animated style="width: 130%"></ion-skeleton-text>
        </ion-avatar>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          <p>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-avatar slot="end">
          <ion-skeleton-text animated style="width: 130%"></ion-skeleton-text>
        </ion-avatar>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          <p>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-avatar slot="end">
          <ion-skeleton-text animated style="width: 130%"></ion-skeleton-text>
        </ion-avatar>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
