.b1{
    margin-left: 6px;
}

.btn-section{
   ion-row,ion-col{
    padding: 0;
    margin: 0;
    ion-icon{
        margin-right: 10px !important;
    }
   }
    
}
.thumbnail-lg{
    height: 150px;
    width: 150px;
    margin: 0 auto;
}
