<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/landing-page"></ion-back-button>
  </ion-buttons>
  <ion-title>  {{ 'customerDetails' | translate}}</ion-title>
  <ion-buttons slot="end">
    <ion-button
      class="ion-align-items-center"
      (click)="navigateTo('/customer-form',customerDetails.id)"
    >
      <ion-icon name="create" size="large"></ion-icon>
      <!-- <ion-text>{{ 'customer' | translate}}</ion-text> -->
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content *ngIf="loaded">
  <ion-card>
    <ion-card-content>
      <div class="ion-text-center">
        <img src="../../../assets/icon/curriculum.png" height="200" />
      </div>
      <ion-item class="ion-margin-top">
        <ion-icon color="secondary" name="person-circle-sharp"></ion-icon>
        <!-- <ion-label class="ion-margin-start"> {{ 'Name' }} </ion-label> -->
        <ion-label class="ion-margin-start" >
          <ion-text color="primary" class="text-bold ion-text-capitalize">
            {{ customerDetails.name }}
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon class="" name="call" color="secondary"></ion-icon>
        <!-- <ion-label class="ion-margin-start"> {{ 'Mobile No' }} </ion-label> -->
        <ion-label class="ion-margin-start" >
          {{ customerDetails.mobile }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon class="" color="secondary" name="location"></ion-icon>
        <!-- <ion-label class="ion-margin-start"> {{ 'Address' }} </ion-label> -->
        <ion-label class="ion-margin-start" >
          {{ customerDetails.address }}
        </ion-label>
      </ion-item>

      <!-- <ion-item>
        <ion-icon class="" name="logo-whatsapp" color="secondary"></ion-icon>
        <ion-label class="ion-margin-start"> {{ 'WhatsAPP No ' }} </ion-label>
        <ion-label class="ion-margin-start" >
          {{ customerDetails.anotherMobile }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon class="" color="secondary" name="mail"></ion-icon>
        <ion-label class="ion-margin-start"> {{ 'Email' }} </ion-label>
        <ion-label class="ion-margin-start" >
          {{ customerDetails.email }}
        </ion-label>
      </ion-item> -->
      <ion-item>
        <ion-icon class="" name="wallet" color="secondary"></ion-icon>
        <!-- <ion-label class="ion-margin-start"> {{ 'Balance' }} </ion-label> -->
        <ion-label class="ion-margin-start" >
          <ion-text color="primary" class="text-bold">
            ₹ <b>{{ customerDetails.balance }}</b>
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-grid class="btn-section">
        <ion-row>
          <ion-col size="12">
            <ion-button
              class="ion-margin-vertical"
              color="primary"
              strong="true"
              expand="block"
              shape="round"
              (click)="navigateTo('/customer-udari',customerDetails.id)"
            >
              <ion-icon name="add-circle"></ion-icon>
               {{ 'udhari' | translate}}
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button
              color="primary"
              expand="block"
              fill="outline"
              strong="true"
              shape="round"
              (click)="navigateTo('/customer-passbook',customerDetails.id)"
            >
              <ion-icon name="eye"></ion-icon>
                 {{ 'passBook' | translate}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="!loaded">
  <ion-card>
    <ion-card-content>
      <div class="ion-text-center">
        <ion-thumbnail slot="start" class="thumbnail-lg">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
      </div>
      <ion-item class="ion-margin-top">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="ion-margin-start" >
          <ion-text color="primary" class="text-bold">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="ion-margin-start" >
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="ion-margin-start" >
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="ion-margin-start" >
          <ion-text color="primary" class="text-bold">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-grid class="btn-section">
        <ion-row>
          <ion-col size="12">
            <ion-button
              class="ion-margin-vertical"
              color="primary"
              strong="true"
              expand="block"
              shape="round"
            >
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button
              color="primary"
              expand="block"
              fill="outline"
              strong="true"
              shape="round"
            >
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>