body {
  color: var(--ion-color-primary);
}

ion-toolbar {
  --background: var(--ion-color-primary) !important;
  --color: var(--ion-color-light);
}

ion-content {
  color: var(--ion-color-primary) !important;
}

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}
