.input-class {
  margin-top: 1.2rem;
  --border-color: var(--ion-color-primary);
  --border-radius: 0.6em;
  --border-width: 1px;
}

.search-box {
  --border-radius: 2em;
  --box-shadow: 0 4px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
}

.eye-password {
  font-size: 24px;
  padding-top: 12px;
  vertical-align: middle;
}

/* Popover Interface: set color for the popover using Item's CSS variables */
.custom-options-color-1 .select-interface-option {
  --color: var(--ion-color-1) !important;
  --color-hover: var(--ion-color-1) !important;
}

/* Action Sheet Interface: set color for the action sheet using its button CSS variables */
.custom-options-color-1 .select-interface-option {
  --button-color: var(--ion-color-1) !important;
  --button-color-hover: var(--ion-color-1);
}

/* Alert Interface: set color for alert options (single selection) */
.custom-options-color-1 .select-interface-option .alert-radio-label {
  color: var(--ion-color-9) !important;
}

/* Alert Interface: set color for alert options (multiple selection) */
.custom-options-color-1 .select-interface-option .alert-checkbox-label {
  color: var(--ion-color-9);
}

[aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
  border-color: var(--ion-color-1) !important;
}

[aria-checked="true"].sc-ion-alert-ios .alert-radio-icon.sc-ion-alert-ios {
  border-color: var(--ion-color-1) !important;
}

.alert-radio-inner.sc-ion-alert-md {
  background-color: --ion-color-primary !important;
}

.alert-button {
  color: var(--ion-color-9) !important;
}