ion-tab-bar {
  --background: var(--ion-color-light);
  --color: var(--ion-color-primary);
  --border: none;

  ion-tab-button {
    --background-focused: var(--ion-color-primary);
    --color-selected: var(--ion-color-light);
    font-size: 0.8rem;

    ion-icon {
      font-size: 1.5em;
    }
  }
}

ion-margin-bottom {
  --margin-bottom: var(--ion-margin, 20px);
  margin-bottom: var(--ion-margin, 20px);
  contain: none;
}


ion-segment {
  --background: var(--ion-color-light);
  ion-segment-button {
    --background-checked: var(--ion-color-light);
    --color-checked: var(--ion-color-primary);
    --color: var(--ion-color-medium);
    --indicator-color: var(--ion-color-primary);
    --indicator-height: 0;
    min-width: fit-content !important;
  }
}
