<ion-content class="">
  <ion-item lines="none">
    <ion-icon class="location-icon" color="primary" name="location" slot="start" (click)="openMap()"></ion-icon>
    <ion-label (click)="openMap()">
      <h3 class="mb-0">{{'location'| translate}}</h3>
      <p>{{currentLocation?.formatted_address | truncate: 40}}</p>
    </ion-label>
    <ion-avatar slot="end">
      <img [src]="userDetails?.image || 'assets/images/placeholder_profile.png'" alt="profile"
        (click)="navigateToProfilePage()" />
    </ion-avatar>
  </ion-item>

  <ion-item lines="none">
    <ion-searchbar class="search-box" [(ngModel)]="search" searchIcon animated type="text" showCancelButton="never"
      placeholder="{{ 'Search' | translate}}" autocomplete="on" autocorrect="on"
      (keyup.enter)="navigateToSearchShop(search)">
    </ion-searchbar>
  </ion-item>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- advertise -->
  <ion-slides [options]="buttonSlide2" class="ion-margin-bottom" autoplay="true" loop="true" pager>
    <ion-slide *ngFor="let item of advertiseArr">
      <div class="advertise ion-no-padding">
        <img class="advertiseImage" src="{{item.image}} " /><br />
      </div>
    </ion-slide>
  </ion-slides>

  <!-- category -->
  <ion-item lines="none">
    <ion-title class="ion-no-padding heading" color="primary">{{'Category' | translate}}</ion-title>
    <ion-label (click)="seeAllCategory()" slot="end">{{'See all' | translate}}</ion-label>
  </ion-item>
  <ion-slides [options]="buttonSlide">
    <ion-slide *ngFor="let item of categoryArr" (click)="navigateToCategory(item._id)">
      <div>
        <img *ngIf="item.image" src="{{item.image}} " />
        <img class="subcat-img" *ngIf="!item.image" src="assets/images/placeholder_product.png" /><br />
        <ion-label class="business-font-size ion-text-capitalize ion-text-wrap">{{item.name | truncate}}</ion-label>
      </div>
    </ion-slide>
  </ion-slides>

  <!-- offers -->
  <ion-item lines="none">
    <ion-title class="ion-no-padding heading" color="primary">{{'Offers' | translate}}</ion-title>
  </ion-item>
  <ion-slides [options]="buttonSlide1" autoplay="true" loop="true" class="ion-margin-bottom" pager>
    <ion-slide *ngFor="let item of offerArr">
      <div class="offer">
        <img class="offerImage" *ngIf="item.image" src="{{item.image}} " /><br />
        <img class="offerImage" *ngIf="!item.image" src="assets/images/placeholder_product.png" alt="offer-image" />
      </div>
    </ion-slide>
  </ion-slides>

  <ion-item lines="none">
    <ion-title class="ion-no-padding heading" color="primary">{{'seasonalOffer' | translate}}</ion-title>
  </ion-item>
  <ion-card *ngFor="let item of seasonalOffer">
    <ion-item lines="none">
      <ion-title class="ion-no-padding heading ion-text-capitalize ">{{item.heading}}</ion-title>
    </ion-item>
    <ion-row>
      <ion-col class="ion-text-center" size="6" *ngFor="let img of item.media ">
        <ion-card class="ion-text-center">
          <img class="img-seasonal" height="100%" width="100%" *ngIf="img.image" src={{img.image}}>
          <img class="img-seasonal" height="100%" width="100%" *ngIf="!img.image"
            src="assets/images/placeholder_product.png" alt="offer-image" />
          <ion-card-subtitle class="cat-head">{{img.title}}</ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>