<ion-header>
  <ion-toolbar class="bg-color-primary" class="bg-color-2">
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize ion-text-wrap">{{ 'support' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="">
    <form [formGroup]="supportForm">
      <ion-item class="input-class" lines="none">
        <ion-label position="stacked">
          {{ 'firstName' | translate}}
          <ion-note color="danger">*</ion-note>
        </ion-label>
        <ion-input type="text" placeholder="{{ 'enter' | translate}}" formControlName="firstName"></ion-input>
      </ion-item>
      <div class="text-left" *ngFor="let error of errorMessages.firstName">
        <ng-container *ngIf="form.firstName.hasError(error.type) && (form.firstName.dirty || form.firstName.touched)">
          <small class="text-color-danger">{{ error.message }}</small>
        </ng-container>
      </div>
      <ion-item class="input-class" lines="none">
        <ion-label position="stacked">
          {{ 'lastName' | translate}}
          <ion-note color="danger">*</ion-note>
        </ion-label>
        <ion-input type="text" placeholder="{{ 'enter' | translate}}" formControlName="lastName"></ion-input>
      </ion-item>
      <div class="text-left" *ngFor="let error of errorMessages.lastName">
        <ng-container *ngIf="form.lastName.hasError(error.type) && (form.lastName.dirty || form.lastName.touched)">
          <small class="text-color-danger">{{ error.message }}</small>
        </ng-container>
      </div>
      <ion-item class="input-class" lines="none">
        <ion-label position="stacked">
          {{ 'email' | translate}}
        </ion-label>
        <ion-input type="email" placeholder="{{ 'enterEmail' | translate}}" formControlName="email"></ion-input>
      </ion-item>

      <ion-item class="input-class" lines="none">
        <ion-label position="stacked">
          {{ 'note' | translate}}
          <ion-note color="danger">*</ion-note>
        </ion-label>
        <ion-textarea type="text" maxlength="250" rows="10" formControlName="description" placeholder="{{'writeNote'|translate}}">
        </ion-textarea>
      </ion-item>
      <div class="text-left" *ngFor="let error of errorMessages.description">
        <ng-container *ngIf="form.description.hasError(error.type) && (form.description.dirty || form.description.touched)">
          <small class="text-color-danger">{{ error.message }}</small>
        </ng-container>
      </div>
      <div class="clearfix ion-padding-top">
        <ion-button (click)="onSubmit()" shape="round" expand="block" class="btn-color-1 btn-height-large" type="submit">
          {{ 'save' | translate}}
        </ion-button>
      </div>
    </form>
  </ion-card>
</ion-content>