<ion-header>
  <ion-toolbar class="bg-color-primary" class="bg-color-2">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize ion-text-wrap">{{ 'Support' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="">
    <form [formGroup]="supportForm">
      <ion-item class="input-class" lines="none">
        <ion-label position="stacked">
          {{ 'name' | translate}}
          <ion-note color="danger">*</ion-note>
        </ion-label>
        <ion-input type="text" placeholder="{{ 'enter' | translate}}" formControlName="name"></ion-input>
      </ion-item>
      <ion-item class="input-class" lines="none">
        <ion-label position="stacked">
          {{ 'email' | translate}}
          <ion-note color="danger">*</ion-note>
        </ion-label>
        <ion-input type="email" placeholder="{{ 'enterEmail' | translate}}" formControlName="email"></ion-input>
      </ion-item>

      <ion-item class="input-class" lines="none">
        <ion-label position="stacked">
          {{ 'Note' | translate}}
          <ion-note color="danger">*</ion-note>
        </ion-label>
        <ion-textarea type="text" rows="10" formControlName="notes" placeholder="{{'writeNote'|translate}}">
        </ion-textarea>
      </ion-item>
      <div class="ion-text-center ion-margin-vertical">
        <ion-button color="primary" expand="block" shape="round" class="btn" (click)="onSubmit()">
          {{ 'submit' | translate}}
        </ion-button>
      </div>
    </form>
  </ion-card>
</ion-content>