<ion-header>
  <ion-toolbar class="bg-color-primary">
    <ion-buttons shape="round" slot="start">
      <ion-back-button defaultHref="/app/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{ 'yoursOrders' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="help" size="large" id="open-modal"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
  <ion-segment-button [id]="'new'" value="new" layout="icon-end">
    <ion-label class="ion-text-wrap">{{ 'new'| translate }}</ion-label>
  </ion-segment-button>
  <ion-segment-button [id]="'active'" value="active" layout="icon-end">
    <ion-label class="ion-text-wrap">{{ 'active'| translate }}</ion-label>
  </ion-segment-button>
  <ion-segment-button [id]="'completed'" value="completed" layout="icon-end">
    <ion-label class="ion-text-wrap">{{ 'completed'| translate }}</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-searchbar class="search-box ion-padding-top" inputmode="search" searchIcon animated type="text" debounce="600"
  showCancelButton="never" autocomplete="on" autocorrect="on" [(ngModel)]="searchText" (ionChange)="onSearch()"
  placeholder="{{ 'Search' | translate}}">
</ion-searchbar>

<ion-content class="ion-no-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="dataList?.length > 0;else noDataFound">
    <ion-item class="animation-normal" (click)="navigateTo(item)" *ngFor="let item of dataList">
      <ion-avatar slot="start">
        <img [src]="item?.shopOwner?.profilePicture || 'assets/images/placeholder_profile.png'" alt="" />
      </ion-avatar>
      <ion-label>
        <ion-row class="ion-justify-content-between">
          <ion-col>
            <h2 class="text-color-2 ion-text-capitalize text-bold ion-text-wrap">
              <span class="text-bold">{{item?.shopDetails?.shopName | truncate}}</span>
              <ion-badge class="rounded-badge *ngIf="item?.lastMessage?.senderId !== user?.id && item?.unreadMessageCount>0"
                slot="start">{{item?.unreadMessageCount}}</ion-badge>
            </h2>
            <p class="text-color-2">{{ item?.orderNumber }}</p>
            <p class="text-color-2" *ngIf="item.status=== defaultStatus.COMPLETED">{{'orderValue'|translate}} : ₹{{
              item?.amount }}</p>
            <small class="text-color-7 ion-text-wrap">{{ item?.createdAt | date:'d MMM, y h:mm a' }}</small>
          </ion-col>
          <ion-col class="ion-text-end" *ngIf="item.status=== defaultStatus.NEW">
            <ion-chip>
              <ion-text class="ion-text-uppercase">{{item.secondaryStatus ? item.secondaryStatus
                :'Waiting'}}</ion-text>
            </ion-chip>
          </ion-col>
          <ion-col class="ion-text-end" *ngIf="item.status=== defaultStatus.ACTIVE">
            <ion-chip>
              <ion-text class="ion-text-uppercase">{{item.secondaryStatus ? item.secondaryStatus
                :'Accept'}}</ion-text>
            </ion-chip>
          </ion-col>
          <ion-col class="ion-text-end" *ngIf="item.status=== defaultStatus.COMPLETED">
            <ion-chip>
              <ion-text class="ion-text-uppercase">{{item.secondaryStatus ? item.secondaryStatus
                :'Completed'}}</ion-text>
            </ion-chip>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <ion-col class="ion-no-padding">
            <p>
              <span *ngIf="item?.lastMessage?.senderId === user.id">You:</span>
              {{item?.lastMessage?.message | truncate}}
            </p>
          </ion-col>
          <ion-col size="2" class="ion-no-padding ion-text-end" *ngIf="item?.ratingDetails?.productQuality">
            <ion-badge color="primary" class="rating ion-text-end">
              {{item?.ratingDetails?.productQuality}}
              <ion-icon name="star"></ion-icon>
            </ion-badge>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noDataFound>
    <div class="noData">
      <ion-label>No Data Found</ion-label>
    </div>
  </ng-template>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- help modal -->
  <ion-modal #modal trigger="open-modal" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-icon name="close-sharp" size="large" (click)="modal.dismiss()"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-no-padding">
        <ion-card >
          <ion-card-content class="ion-justify-content-center">
            <ul class="list">
              <li>{{'helpHeading' | translate}}</li>
              <li>{{'helpInstruction1' | translate}}</li>
              <li>{{'helpInstruction2' | translate}}</li>
              <li>{{'helpInstruction3' | translate}}</li>
              <li>{{'helpInstruction4' | translate}}</li>
              <li>{{'helpInstruction5' | translate}}</li>
              <li>{{'helpInstruction6' | translate}}</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>