.search-box {
  background-color: white;
}

.list li {
  font-size: 16px;
  color: black;
}
.badge{
  position: relative;
}
.rounded-badge {
  display: inline-block;
  padding: 5px 7px;
  border-radius: 50%;
  background-color: --ion-color-primary;
  color: white;
  position: absolute;
  left: 56%;
  top: 2%;
}

.help-icon {
  font-size: 30px;
}

ion-skeleton-text {
  --border-radius: 9999px;
  --background: rgba(188, 0, 255, 0.065);
  --background-rgb: 188, 0, 255;
}
