<ion-header>
  <ion-toolbar class="bg-color-2">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title class=" ion-text-capitalize ion-text-wrap">{{ 'myProfile' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <div class="text-center">
    <ion-avatar class="avatar">
      <img [src]="userDetails?.image || 'assets/images/placeholder_profile.png'">
    </ion-avatar>
    <ion-text>
      <h2 class="ion-text-capitalize ion-text-wrap center">{{userDetails?.firstName}} {{userDetails?.lastName}}</h2>
    </ion-text>
  </div>


  <!-- <ion-list>
    <ion-item>
      <ion-icon class="text-color-2" name="mail"></ion-icon>
      <ion-label class="ion-margin-start">
        {{ 'email' | translate}} 
        <h4><b>{{userDetails?.email}}</b></h4>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="call"></ion-icon>
      <ion-label class="ion-margin-start">
        {{ 'mobileNumber' | translate}} 
        <h4><b>{{userDetails?.mobile}}</b></h4>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="location"></ion-icon>
      <ion-label class="ion-margin-start">
        {{ 'address' | translate}} 
        <h4><b>{{userDetails?.address.line1}} {{userDetails?.address.city}} {{userDetails?.address.state}}
          {{userDetails?.address.country}} {{userDetails?.address.pinCode}}</b></h4>

      </ion-label>
    </ion-item>
  </ion-list>


  <div class="clearfix ion-padding-top">
    <ion-button (click)="navigate('edit-profile')" expand="block" class="btn-color-2 btn-height-large" type="submit">
      {{ 'editProfile' | translate}}
    </ion-button>
  </div>

  <ion-row>
    <ion-col size="12">
      <ion-button color="primary" expand="block" fill="outline" strong="true" shape="round"
        (click)="navigate('edit-profile')">
        <ion-icon name="create" class="ion-margin-end"></ion-icon>
        {{ 'editProfile' | translate}}
      </ion-button>
    </ion-col> 
  </ion-row>-->



  <ion-card-content>
    <ion-card class="user-info">


      <ion-item>
        <i><img src="../../../assets/icon/message.png" width="45px" alt="message img"></i>
        <ion-label class="ion-margin-start email">
          {{ 'email' | translate}}
          <p>{{userDetails?.email}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <i><img src="../../../assets/icon/phone-call.png" width="45px" alt="phone-call img"></i>
        <ion-label class="ion-margin-start mobile-number">
          {{ 'mobileNumber' | translate}}
          <p>{{userDetails?.mobile}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <i><img src="../../../assets/icon/address.png" width="45px" alt="address img"></i>
        <ion-label class="ion-margin-start address">
          {{ 'Address' | translate}}
          <p>
            {{userDetails?.address?.line1}} {{userDetails?.address?.city}}
            {{userDetails?.address?.state}} {{userDetails?.address?.country}}
            {{userDetails?.address?.pinCode}}
          </p>
        </ion-label>
      </ion-item>

      <!-- <ion-accordion-group>
        <ion-accordion value="third">
          <ion-item slot="header" color="light">
            <i><img src="../../../assets/icon/address.png" width="45px" alt="address img"></i>
            <ion-label class="ion-padding address">Address</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>
              {{userDetails?.address?.line1}} {{userDetails?.address?.city}}
              {{userDetails?.address?.state}} {{userDetails?.address?.country}}
              {{userDetails?.address?.pinCode}}
            </p>
          </div>
        </ion-accordion>
      </ion-accordion-group> -->
      
      <div class="ion-text-center ion-margin-vertical">
        <ion-button color="primary" expand="block" fill="outline" strong="true" shape="round"
        (click)="navigate('edit-profile')">
        <ion-icon name="create" class="ion-margin-end"></ion-icon>
        {{ 'editProfile' | translate}}
      </ion-button>
      </div>
    </ion-card>
  </ion-card-content>





</ion-content>