<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'scanBharatOnlineQR'|translate}} </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [style.--background]="scanActive?'#00000000':'#ffffff'">
  <div class="scan-box" [hidden]="!scanActive"></div>
  <ion-row class="scan-button" [hidden]="!scanActive">
    <ion-col class="ion-padding">
      <ion-button expand="full" (click)="stopScanner()">{{'scanQR'|translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-content>