.scan-box {
  border: 2px solid #fff;
  box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
  content: "";
  display: block;
  left: 50%;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}
.scan-button {
  margin: 0px;
  position: absolute;
  bottom: 100px;
  width: 100vw;
  height: 50px;
  z-index: 11;
}

app-qr-code {
  body {
    background: transparent !important;
    --ion-background-color: transparent !important;
    color: var(--ion-color-primary) !important;
  }
}
.qr-header {
  ion-toolbar {
    padding-top: env(safe-area-inset-top) !important;
    // --padding-top: env(safe-area-inset-top) !important;
  }
}