ion-content {
    .heading {
        font-weight: bold;
    }

    .business-font-size {
        font-size: small;
        font-weight: bold;
    }

    .img-seasonal {
        height: 100px;
        width: 100%;
        border-radius: 1em;
    }
}