<ion-header>
  <ion-toolbar class="bg-color-primary" color="warning">
    <ion-title>{{ "giveRating" | translate }}</ion-title>
    <ion-icon name="close-outline" slot="end" class="ion-margin-end" size="large" (click)="closeModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <form [formGroup]="formData">
    <ion-item class="ion-margin-top  ion-text-center" lines="none">
      <div class="ion-text-center">
        <bar-rating class="bar-rating" formControlName="productQuality" [max]="5" [theme]="'stars'"></bar-rating>


      </div>
      <!-- <ion-label position="fixed" class="ion-text-wrap">{{ "Product Quality" | translate }}</ion-label> -->
    </ion-item>
    <!-- <ion-item class="ion-margin-top" lines="none">
      <ion-label position="fixed" class="ion-text-wrap">{{ "Product Quality" | translate }}</ion-label>
      <bar-rating [(rate)]="data.quality" [max]="5" [readOnly]="true" [theme]="'stars'" slot="end">
        <ng-template ratingActive>
          <ion-icon name="star" class="text-color-10"></ion-icon>
        </ng-template>
        <ng-template ratingInactive>
          <ion-icon name="star" class="text-color-5"></ion-icon>
        </ng-template>
        <ng-template ratingFraction>
          <ion-icon name="star-half" class="text-color-10"></ion-icon>
        </ng-template>
      </bar-rating>
    </ion-item> -->

    <div class="clearfix ion-padding-top btn">
      <ion-button (click)="onSubmit()" [disabled]="formData.invalid" expand="block" type="submit">
        {{ "submit" | translate }}
      </ion-button>
    </div>
  </form>
</ion-content>