<ion-header>
  <ion-toolbar class="bg-color-primary">
    <ion-title class="ion-text-capitalize">#{{orderDetails?.orderNumber}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="catalogue"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

  <div class="chat-screen">
    <div #scrollMe class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow: scroll">
      <div class="message-wrap">
        <div *ngFor="let message of messages" class="message" [class.right]="message?.senderId === user?._id">
          <div class="msg-detail">
            <div class="msg-info" *ngIf="message?.createdAt">
              <p>{{message?.createdAt | date:'shortTime'}}</p>
            </div>

            <div class="msg-content ion-text-wrap" *ngIf="message?.message">
              <p>{{message?.message}}
                <a role="button" class="ion-text-underline" (click)="openGoogleMap(message?.location)"
                  *ngIf="message?.category === messageCategory.LOCATION">Open Map</a>
              </p>
            </div>

            <div class="msg-info">
              <img src="{{message.image}}" *ngIf="message.image" />
              <ion-icon name="cloud-download-outline" *ngIf="message.image" class="download"
                (click)="downloadImage(message)"></ion-icon>
            </div>
          </div>

          <div *ngIf="message.userIsSender" class="msg-status">
            <div *ngIf="message.status === 'pending';else sent">
              pending
              <ion-icon name="checkmark-circle"></ion-icon>
            </div>
            <ng-template #sent>
              <div *ngIf="message.status === 'sent';else seen">
                sent
                <ion-icon name="checkmark-circle-outline"></ion-icon>
              </div>
            </ng-template>
            <ng-template #seen>
              <div *ngIf="message.status === 'seen'">
                seen
                <ion-icon name="checkmark"></ion-icon>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px">
        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px"></div>
      </div>
      <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px">
        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px"></div>
      </div>
    </div>
  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="bottom">
    <ion-fab-button size="large">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="checkmark-done-circle-sharp" color="primary" (click)="confirmOrder()"></ion-icon>
      </ion-fab-button>
      <!-- <ion-fab-button *ngIf="status==='completed'">
        <ion-icon name="star" color="primary" (click)="modalRating()"></ion-icon>
      </ion-fab-button> -->
    </ion-fab-list>
  </ion-fab>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)" [disabled]="disabledScroll">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>


<ion-footer>
  <div class="footer-msg">
    <ion-toolbar>
      <form [formGroup]="chatForm">
        <ion-item lines="none" id="chatInput" class="ion-align-items-center">
          <ion-textarea class="ion-no-padding" formControlName="message" spellcheck="true" rows="1" autoComplete=" true"
            autocorrect="true" maxlength="500" type="text" placeholder="{{'Type your message...'| translate}}"
            (keyup.enter)="sendMessage()">
          </ion-textarea>
          <input hidden autocapitalize="on" #fileInput1 autocomplete="on" type="file" name="file"
            (change)="uploadFileAWS($event)" required />

          <ng-container class="footer-btns">
            <ion-button (click)="fileInput1.click()">
              <ion-icon name="attach"></ion-icon>
            </ion-button>

            <ion-button (click)="openMap()">
              <ion-icon name="location"></ion-icon>
            </ion-button>

            <ion-button (click)="sendMessage()" [disabled]="chatForm.invalid">
              <ion-icon name="send-sharp"></ion-icon>
            </ion-button>
          </ng-container>
        </ion-item>
      </form>
    </ion-toolbar>
  </div>
</ion-footer>