<ion-header *ngIf="!isPreview">
  <ion-toolbar class="bg-color-primary">
    <ion-title class="ion-text-capitalize">#{{orderDetails?.orderNumber}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="catalogue"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-margin-end">
      <ion-icon (click)="presentPopover($event)" size="large" slot="icon-only" name="ellipsis-vertical"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-label color="tertiary" class="ion-text-center ion-padding-vertical ion-text-capitalize shopName">
  <a (click)="viewShop()">{{shopName}}</a>
</ion-label>
<ion-content>
  <div class="chat-screen">
    <div #scrollMe class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow: scroll">
      <ion-item-sliding *ngFor="let message of messages;let i = index" #slidingItem>
        <ion-item lines="none" class="ion-no-padding">
          <div class="message-wrap">
            <div class="message" [class.right]="message?.senderId === user?._id">
              <div class="msg-detail">
                <div [ngClass]="message.type=='status' ? 'msg-info-center' : 'msg-info'" *ngIf="message?.createdAt">
                  <p>{{message?.createdAt | date:'shortTime'}}</p>
                </div>
                <div class="ion-text-wrap" [ngClass]="message.type=='status' ? 'center-msg' :'msg-content'"
                  *ngIf="message?.message">
                  <p [innerHTML]="message?.message">
                    <a role="button" class="ion-text-underline" (click)="openGoogleMap(message?.location)"
                      *ngIf="message?.category === messageCategory.LOCATION"><ion-label color="tertiary">Open
                        Map</ion-label></a>
                  </p>
                </div>
                <ng-container>
                  <div class="msg-info">
                    <div class="msg-info" *ngIf="imageExtension.includes(message?.media?.fileType)">
                      <img src="{{message?.media?.filePath }}" (click)="previewImage(message?.media)" /><ion-icon
                        class="download" name="cloud-download-outline"
                        (click)="downloadFile(message?.media)"></ion-icon>
                    </div>
                    <div class="msg-info" *ngIf="videoExtension.includes(message?.media?.fileType)">
                      <video type="video/mp4" class="video-size" controls poster="assets/images/poster_image.png">
                        <source class="avatar" src="{{message?.media?.filePath}}" type='video/mp4' />
                      </video>
                    </div>
                    <div class="msg-info" *ngIf="fileExtension.includes(message?.media?.fileType)">
                      <ion-button (click)="downloadFile(message?.media)">
                        <ion-icon class="ion-padding-end" name="arrow-down-outline"></ion-icon>
                        <ion-label color="tertiary">Document
                        </ion-label>
                      </ion-button>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ion-item>
        <ion-item-options side="end" (click)="deleteMessage(i,message._id)" *ngIf="message?.senderId=== user.id">
          <ion-item-option class="btn-color-transparent ion-margin-top">
            <ion-icon name="trash-outline" color="primary" size="small" slot="start"></ion-icon>
            {{ 'delete' | translate}}
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </div>
  <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px">
    <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px"></div>
  </div>
  <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px">
    <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px"></div>
  </div>
  <ion-fab class="attach-btn" size="small" fill="clear" slot="fixed" vertical="bottom" horizontal="end" [edge]="true">
    <ion-fab-button size="small">
      <ion-icon name="attach"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="uploadFileAWS()">
        <ion-icon color="primary" name="camera-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="fileInput1.click()">
        <ion-icon color="primary" name="image-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="address()">
        <ion-icon color="primary" name="location"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)" [disabled]="disabledScroll">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <div class="footer-msg">
    <ion-toolbar>
      <form [formGroup]="chatForm">
        <ion-item lines="none" id="chatInput" class="ion-align-items-center">
          <ion-textarea class="ion-no-padding" formControlName="message" spellcheck="true" rows="1" autoComplete=" true"
            autocorrect="true" maxlength="500" type="text" placeholder="{{'typeYourMessage'| translate}}"
            (keyup.enter)="sendMessage()">
          </ion-textarea>
          <input hidden autocapitalize="on" #fileInput1 autocomplete="on" type="file" name="file"
            (change)="uploadFiles($event)" required />
          <ng-container class="footer-btns">
            <ion-button (click)="sendMessage()" [disabled]="chatForm.invalid">
              <ion-icon name="send-sharp"></ion-icon>
            </ion-button>
          </ng-container>
        </ion-item>
      </form>
    </ion-toolbar>
  </div>

</ion-footer>


<div id="photo-container" *ngIf="photoViewerConfig.images.length > 0">
  <app-photoviewer (pvExit)="handleExit($event)" [imageList]="photoViewerConfig.images" [mode]="photoViewerConfig?.mode"
    [startFrom]="0"></app-photoviewer>
</div>