<ion-header *ngIf="!isPreview">
  <ion-toolbar class="bg-color-primary">
    <ion-title class="ion-text-capitalize">#{{orderDetails?.orderNumber}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="catalogue"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-margin-end">
      <ion-icon (click)="presentPopover($event)" size="large" slot="icon-only" name="ellipsis-vertical"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-label color="tertiary" class="ion-text-center ion-padding-vertical ion-text-capitalize shopName">
  <a (click)="viewShop()">{{shopName}}</a>
</ion-label>
<ion-content>

  <div class="chat-screen">
    <div #scrollMe class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow: scroll">
      <div class="message-wrap">
        <div *ngFor="let message of messages" class="message" [class.right]="message?.senderId === user?._id">
          <div class="msg-detail">
            <div [ngClass]="message.type=='status' ? 'msg-info-center' : 'msg-info'" *ngIf="message?.createdAt">
              <p>{{message?.createdAt | date:'shortTime'}}</p>
            </div>

            <div class="ion-text-wrap" [ngClass]="message.type=='status' ? 'center-msg' :'msg-content'"
              *ngIf="message?.message">
              <p>{{message?.message}}
                <a role="button" class="ion-text-underline" (click)="openGoogleMap(message?.location)"
                  *ngIf="message?.category === messageCategory.LOCATION"><ion-label color="tertiary">Open
                    Map</ion-label></a>
              </p>
            </div>

            <div class="msg-info" *ngFor="let image of message.chatMedia">
              <img src="{{image.file}}" *ngIf="image.file" (click)="previewImage(image)" />

            </div>
          </div>


        </div>
      </div>
      <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px">
        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px"></div>
      </div>
      <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px">
        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px"></div>
      </div>
    </div>
  </div>
  <ion-fab class="attach-btn" size="small" fill="clear" slot="fixed" vertical="bottom" horizontal="end" [edge]="true">
    <ion-fab-button size="small">
      <ion-icon name="attach"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon color="primary" name="camera-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon color="primary" name="image-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)" [disabled]="disabledScroll">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <div class="footer-msg">
    <ion-toolbar>
      <form [formGroup]="chatForm">
        <ion-item lines="none" id="chatInput" class="ion-align-items-center">
          <ion-textarea class="ion-no-padding" formControlName="message" spellcheck="true" rows="1" autoComplete=" true"
            autocorrect="true" maxlength="500" type="text" placeholder="{{'typeYourMessage'| translate}}"
            (keyup.enter)="sendMessage()">
          </ion-textarea>


          <ng-container class="footer-btns">
            <!-- (click)="uploadFileAWS()" -->
            <!-- <ion-button fill="clear"> -->
            <!-- <ion-icon size="large" name="attach"></ion-icon> -->

            <!-- </ion-button> -->


            <ion-button (click)="address()">
              <ion-icon name="location"></ion-icon>
            </ion-button>

            <ion-button (click)="sendMessage()" [disabled]="chatForm.invalid">
              <ion-icon name="send-sharp"></ion-icon>
            </ion-button>
          </ng-container>

        </ion-item>
      </form>

    </ion-toolbar>
  </div>

</ion-footer>


<div id="photo-container" *ngIf="photoViewerConfig.images.length > 0">
  <app-photoviewer (pvExit)="handleExit($event)" [imageList]="photoViewerConfig.images" [mode]="photoViewerConfig?.mode"
    [startFrom]="0"></app-photoviewer>
</div>