<ion-header>
  <ion-toolbar>
    <ion-title>Sub Category</ion-title>
    <ion-buttons slot="end">
      <ion-button class="closebtn" (click)="dismissModal(true)">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <ion-item *ngFor="let item of subCategoryArr">
      <ion-row (click)="navigateTo('/app/tabs/search-shop',item._id)">
        <ion-col size="5">
          <img [src]="item.image" width="110px" height="100px">
        </ion-col>
        <ion-col size="7">
          <h6 class="ion-text-end">{{item.name}}</h6>
        </ion-col>
      </ion-row>

    </ion-item>
  </ion-card>


</ion-content>