<ion-toolbar>
  <ion-title> Profile Details</ion-title>
  <!-- <ion-buttons slot="start">
    <ion-menu-button menu="main-menu" icon="grid-outline"></ion-menu-button>
  </ion-buttons> -->
  <ion-buttons slot="start" class="">
    <ion-back-button defaultHref="landing-page" mode="md"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content *ngIf="loaded">
  <ion-card>
    <ion-card-content>
      <div class="ion-text-center">
        <img src="./assets/image/profile.svg" alt="Logo" height="250" />
        <ion-button
          color="primary"
          fill="outline"
          strong="true"
          shape="round"
          (click)="navigateTo('/edit-profile',null)"
        >
          <ion-icon name="create" class="ion-margin-end"></ion-icon>
          {{ 'editProfile' | translate}}
        </ion-button>
      </div>

      <ion-item class="ion-margin-top">
        <ion-icon color="secondary" name="storefront-sharp"></ion-icon>
        <!-- <ion-label class="ion-margin-start"> {{ 'Name' }} </ion-label> -->
        <ion-label class="ion-margin-start">
          <ion-text color="primary" class="text-bold ion-text-capitalize">
            {{ userDetails?.shopName  }}
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon color="secondary" name="person-circle-sharp"></ion-icon>
        <!-- <ion-label class="ion-margin-start"> {{ 'Name' }} </ion-label> -->
        <ion-label class="ion-margin-start">
          <ion-text color="primary" class="text-bold ion-text-capitalize">
            {{ userDetails.name  }}
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon class="" name="call" color="secondary"></ion-icon>
        <!-- <ion-label class="ion-margin-start"> {{ 'Mobile No' }} </ion-label> -->
        <ion-label class="ion-margin-start">
          {{ userDetails.mobile }}
        </ion-label>
      </ion-item>
      <!-- <ion-item>
        <ion-icon class="" color="secondary" name="mail"></ion-icon>
        <ion-label class="ion-margin-start"> {{ 'Email' }} </ion-label>
        <ion-label class="ion-margin-start" >
          {{ userDetails.email }}
        </ion-label>
      </ion-item> -->
      <ion-item lines="none">
        <ion-icon class="" color="secondary" name="location"></ion-icon>
        <!-- <ion-label class="ion-margin-start"> {{ 'Address' }} </ion-label> -->
        <ion-label class="ion-margin-start">
          {{ userDetails.address }}
        </ion-label>
      </ion-item>

      <!-- <ion-item>
        <ion-icon class="" name="logo-whatsapp" color="secondary"></ion-icon>
        <ion-label class="ion-margin-start"> {{ 'WhatsAPP No ' }} </ion-label>
        <ion-label class="ion-margin-start" >
          {{ userDetails.anotherMobile }}
        </ion-label>
      </ion-item> -->

      <!-- <ion-item>
        <ion-icon class="" name="location" color="secondary"></ion-icon>
        <ion-label class="ion-margin-start"> {{ 'Balance' }} </ion-label>
        <ion-label class="ion-margin-start" >
          <ion-text color="primary" class="text-bold">
            ₹ <b>{{ userDetails.balance }}</b>
          </ion-text>
        </ion-label>
      </ion-item> -->
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="!loaded">
  <ion-card>
    <ion-card-content>
      <div class="ion-text-center">
        <ion-thumbnail slot="start" class="thumbnail-lg">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
      </div>
      <ion-grid class="ion-margin-vertical">
        <ion-row class="ion-justify-content-center">
          <ion-col size="8">
            <ion-button
              color="primary"
              fill="outline"
              expand="block"
              strong="true"
              shape="round"
            >
              <ion-avatar slot="start">
                <ion-skeleton-text
                  animated
                  style="width: 50%"
                ></ion-skeleton-text>
              </ion-avatar>
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="ion-margin-start">
          <ion-text color="primary" class="text-bold">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="ion-margin-start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="ion-margin-start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="ion-margin-start">
          <ion-text color="primary" class="text-bold">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
