<ion-toolbar>
  <ion-title> Profile Details</ion-title>
  <!-- <ion-buttons slot="start">
    <ion-menu-button menu="main-menu" icon="grid-outline"></ion-menu-button>
  </ion-buttons> -->
  <ion-buttons slot="start" class="">
    <ion-back-button defaultHref="landing-page" mode="md"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="ion-text-center">
        <img src="./assets/image/profile.svg" alt="Logo" height="250" />
        <ion-button
          color="primary"
          fill="outline"
          strong="true"
          shape="round"
          (click)="navigateTo('/edit-profile',null)"
        >
          <ion-icon name="create" class="ion-margin-end"></ion-icon>
          {{ 'editProfile' | translate}}
        </ion-button>
      </div>

      <ion-item class="ion-margin-top">
        <ion-icon color="secondary" name="customerName"></ion-icon>
         <!-- <ion-label class="ion-margin-start"> {{ customerName }} </ion-label>  -->
        <ion-label class="ion-margin-start">
          <ion-text color="primary" class="text-bold ion-text-capitalize">
            {{ userDetails?.customerName  }}
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon color="secondary" name="person-circle-sharp"></ion-icon>
         <!-- <ion-label class="ion-margin-start"> {{ firstName }} </ion-label>   -->
        <ion-label class="ion-margin-start">
          <ion-text color="primary" class="text-bold ion-text-capitalize">
            {{ userDetails.firstName }} {{ userDetails.lastName }}
          </ion-text>
        </ion-label>
      </ion-item>
       
      <!-- <ion-item>
        <ion-icon class="" color="secondary" name="lastName"></ion-icon>
         <ion-label class="ion-margin-start"> {{ lastName }} </ion-label>
        <ion-label class="ion-margin-start" >
          {{ userDetails.lastName }}
        </ion-label>
      </ion-item> 
       -->

      <ion-item>
        <ion-icon class="" name="call" color="secondary"></ion-icon>
         <!-- <ion-label class="ion-margin-start"> {{ mobile }} </ion-label>   -->
        <ion-label class="ion-margin-start">
          {{ userDetails.mobile }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon class="" color="secondary" name="mail"></ion-icon>
         <!-- <ion-label class="ion-margin-start"> {{ email }} </ion-label>  -->
        <ion-label class="ion-margin-start" >
          {{ userDetails.email }}
        </ion-label>
      </ion-item>
      <!-- <ion-item>

        <ion-icon class="" color="secondary" name="line1"></ion-icon>
         <ion-label class="ion-margin-start"> {{ line1 }} </ion-label> 
        <ion-label class="ion-margin-start" >
          {{ userDetails.line1 }}
        </ion-label>
      </ion-item>  -->

      <ion-item>
        <ion-icon name="storefront-outline"></ion-icon> 
        <!-- <ion-label class="ion-margin-start"> {{ address}} </ion-label>  -->
        <ion-label class="ion-margin-start" >
          {{ userDetails?.address?.line1 }} {{ userDetails?.address?.line2 }}
           {{ userDetails?.address?.city }} {{ userDetails?.address?.state}} {{ userDetails?.address?.contry}}
        </ion-label>
      </ion-item> 
      <ion-item>
        <ion-icon name="toggle-outline"></ion-icon>
        <ion-icon class="" color="secondary" name="status"></ion-icon>
         <!-- <ion-label class="ion-margin-start"> {{ status }} </ion-label>  -->
        <ion-label class="ion-margin-start" >
          {{ userDetails.status }}
        </ion-label>
      </ion-item> 
      <ion-item>
        
        <ion-icon color="secondary"  name="person-circle-sharp" ></ion-icon>
        <!-- <ion-label class="ion-margin-start"> {{ role }} </ion-label>   -->
        <ion-label class="ion-margin-start" >
          {{ userDetails.role }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon class="" color="secondary" name="key"></ion-icon>
        <!-- <ion-label class="ion-margin-start"> {{ 'Email' }} </ion-label> -->
        <ion-label class="ion-margin-start" >
          {{ userDetails.key }}
        </ion-label>
      </ion-item>
      
      


    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <ion-content *ngIf="!loaded">
  <ion-card>
    <ion-card-content>
      <div class="ion-text-center">
        <ion-thumbnail slot="start" class="thumbnail-lg">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
      </div>
      <ion-grid class="ion-margin-vertical">
        <ion-row class="ion-justify-content-center">
          <ion-col size="8">
            <ion-button
              color="primary"
              fill="outline"
              expand="block"
              strong="true"
              shape="round"
            >
              <ion-avatar slot="start">
                <ion-skeleton-text
                  animated
                  style="width: 50%"
                ></ion-skeleton-text>
              </ion-avatar>
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="ion-margin-start">
          <ion-text color="primary" class="text-bold">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="ion-margin-start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="ion-margin-start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="ion-margin-start">
          <ion-text color="primary" class="text-bold">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content> -->
