ion-content {
  --padding-top: 0 !important;
  .card-pad {
    padding-bottom: 10px;
    height: 100%;
  }
}

.sc-ion-searchbar-md-h {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.name {
  margin-left: 270px;
  margin-top: -30px;
  font-size: 15px;
  display: flex;
  align-items: flex-end;
  justify-items: flex-end;
  place-content: flex-end;
}

.heading{
  font-weight: bold;
}

.businessTypeActive {
  ion-note {
    color: red;
  }
}

.location {
  font-size: 24px;
  color: rgb(241, 42, 42);
  margin-right: 46px;
  margin-top: 22px;
  margin-left: 9px;
  margin-bottom: -2%;
  padding: 0px;
}
.location-heading {
  margin-left: -40px;
  width: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;

}

.avtar {
  width: 46px;
  border-radius: 50%;
  display: flex;
  align-items: initial;
  justify-content: center;
  overflow: hidden;
  margin-left: 317px;
  margin-top: -41px;
  margin-block-end: -2%;
  border-color: red;
}

.ion-note {
  text-align: center;
}
.business{
  text-align: center;
}
.business-font-size{
  font-size: smaller;
  font-weight: bold;

}

.sub-heading{
  text-align: center;
  font-weight: bold !important;
}
.swiper-slide img {
  width: 60px;
  border-radius: 25%;
  height: 60px;
}

.offerImage{
  border-radius: 5% !important;
  height: auto !important;
  width: 90% !important;
}


