<ion-content class="font-poppins">
  <ion-row>
    <ion-col><ion-icon class="location" name="location"></ion-icon>
      <ion-note class="location-heading" (click)="navigateToMap()">{{ 'Location' | translate}}</ion-note>
    </ion-col>
    <ion-col>
      <div class="avtar">
        <img src="../../../assets/image/Profile-Male-PNG.png" alt="profile" (click)="navigateToProfilePage()" />
      </div>
    </ion-col>
  </ion-row>
  <ion-searchbar class="search-box ion-no-padding size" inputmode="search" searchIcon animated type="text"
    showCancelButton="never" placeholder="{{ 'Search' | translate}}" autocomplete="on" autocorrect="on"
    (ionFocus)="navigateToSearchShop('/search-shop',null)">
  </ion-searchbar>
  
  <!-- businessType -->
  <ion-slides class="ion-margin-bottom" autoplay="true" pager="false" scrollbar="false" [options]="buttonSlide">
    <ion-slide *ngFor="let b of businessArr;">
      <div [ngClass]="b.isActive ? 'businessTypeActive':null" (click)="getBusinessAllCategory(b._id)">
        <img src="{{b.image}} " /><br />
        <ion-note class="business-font-size ion-text-capitalize ion-text-wrap">{{b.name }}</ion-note>
      </div>
    </ion-slide>
  </ion-slides>

  <!-- category -->
  <ion-item lines="none">
    <ion-title class="ion-no-padding heading" color="primary">Category</ion-title>
    <ion-label (click)="seeAllCategory()" slot="end">See all</ion-label>
  </ion-item>
  <ion-slides [options]="buttonSlide" class="ion-margin-bottom">
    <ion-slide *ngFor="let c of BusinessWithCategoryArr">
      <div class="" (click)="getCategoryIdWithShop(c._id)">
        <img src="{{c.image}} " /><br />
        <ion-note class="business-font-size ion-text-capitalize ion-text-wrap">{{c.name}}</ion-note>
      </div>
    </ion-slide>
  </ion-slides>
 

  <!-- offers -->
  <ion-item lines="none">
    <ion-title class="ion-no-padding heading" color="primary">Offers</ion-title>
  </ion-item>
  <ion-slides [options]="buttonSlide1" class="ion-margin-bottom">
    <ion-slide *ngFor="let o of offerArr">
      <div class="" (click)="getCategoryIdWithShop(c._id)">
        <img class="offerImage" src="{{o.image}} " /><br />
        <ion-note class="sub-heading ion-text-capitalize">{{o.title}}</ion-note>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>