<ion-header>
  <ion-toolbar>
    <ion-title mode="md"> {{ 'favoritesShop' | translate}} </ion-title>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="/app/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="help-circle-outline" size="large" (click)="instructionAlert()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="loaded">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <!-- search bar -->
  <ion-row>
    <ion-col size="12">
      <ion-searchbar mode="md" class="search-box ion-no-padding ion-margin-bottom" inputmode="search" searchIcon animated
        type="text" debounce="900" showCancelButton="never" placeholder="{{ 'searchShop' | translate}}"
        autocomplete="on" autocorrect="on" [(ngModel)]="search" (ionChange)="onSearch()">
      </ion-searchbar>
    </ion-col>
  </ion-row>

  <ion-grid *ngIf="shopFavorites?.length > 0;else noDataFound">
    <ion-row *ngFor="let s of shopFavorites">
      <ion-col class="shadow" *ngIf="s.shopDetails?.status == defaultStatus.ACTIVE">
        <ion-card class="shop-card" [ngStyle]="{
          'background-image': getUrl(s?.shopDetails.bannerImages),
          'background-repeat': 'no-repeat',
          'object-fit':'cover',
          'background-size':'100% 100%'
         }" (click)="navigateToShop(s?.shopDetails._id)">

          <ion-badge color="primary" class="rating ion-text-end" *ngIf="s?.shopDetails.avgRating">
            {{ roundRating(s?.shopDetails.avgRating.toFixed(2)) }}
            <ion-icon name="star"></ion-icon>
          </ion-badge>

        </ion-card>
        <div class="ion-text-end ion-margin-end ion-margin-top heart-icon">
          <ion-fab>
            <ion-fab-button class="heart-fab">
              <ion-icon name="heart" color="primary" fill="" (click)="addToFavorite(s)"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
        <div class="ion-text-end ion-margin-end ion-margin-top bell-icon">
          <ion-fab>
            <ion-fab-button class="bell-fab">
              <ion-icon name="notifications-sharp" color="primary"
                (click)="navigateToNotification(s?.ownerDetails[0]._id)"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
        <ion-label class="shop-name ion-margin-top ion-text-wrap ion-text-capitalize">
          {{s.shopDetails.shopName}}</ion-label>
        <ion-label (click)="navigateToShop(s?.shopDetails._id)" class="address ion-margin-top" color="
            light">
          <h4 class="address-padding ion-padding-start">
            {{ s.ownerDetails[0]?.address?.city ? s.ownerDetails[0]?.address?.city : ""}},
            {{s.ownerDetails[0]?.address?.state ? s.ownerDetails[0]?.address?.state : "" }},
            {{s.ownerDetails[0]?.address?.pinCode ? s.ownerDetails[0]?.address?.pinCode : "" }}.
          </h4>
        </ion-label>
      </ion-col>
      <ion-col class="shadow" *ngIf="s.shopDetails?.status == defaultStatus.INACTIVE">
        <ion-card class="shop-card" [ngStyle]="{
          'background-image': getUnAvailableUrl(),
          'background-repeat': 'no-repeat',
          'object-fit':'cover',
          'background-size':'100% 100%'
         }">
        </ion-card>
         <div class="ion-text-end ion-margin-end ion-margin-top heart-icon">
          <ion-fab>
            <ion-fab-button class="heart-fab">
              <ion-icon name="heart" color="primary" fill="" (click)="addToFavorite(s)"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
        <ion-label class="shop-name ion-margin-top ion-text-wrap ion-text-capitalize">
          {{s.shopDetails.shopName}}</ion-label>
        <ion-label class="address ion-margin-top" color="
            light">
          <h4 class="address-padding ion-padding-start"
            *ngIf="s.ownerDetails[0]?.address?.city || s.ownerDetails[0]?.address?.state || s.ownerDetails[0]?.address?.pinCode">
            {{ s.ownerDetails[0]?.address?.city ? s.ownerDetails[0]?.address?.city : ""}},
            {{s.ownerDetails[0]?.address?.state ? s.ownerDetails[0]?.address?.state : "" }},
            {{s.ownerDetails[0]?.address?.pinCode ? s.ownerDetails[0]?.address?.pinCode : "" }}.
          </h4>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #noDataFound>
    <div class="favorite">
      <ion-icon size="large" name="heart-outline"></ion-icon>
    </div>
    <div class="noData">
      <ion-label>No Shops In Favorites</ion-label>
    </div>
  </ng-template>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-content *ngIf="!loaded">
  <ion-list>
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>