<ion-header>
  <ion-toolbar>
    <ion-title> {{ 'favoritesShop' | translate}} </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="help-circle-outline" size="large" (click)="instructionAlert()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <!-- search bar -->
  <ion-row>
    <ion-col size="12">
      <ion-searchbar class="search-box ion-no-padding ion-margin-bottom" inputmode="search" searchIcon animated
        type="text" debounce="900" showCancelButton="never" placeholder="{{ 'searchShop' | translate}}"
        autocomplete="on" autocorrect="on" [(ngModel)]="search" (ionChange)="onSearch()">
      </ion-searchbar>
    </ion-col>
  </ion-row>

  <ion-grid *ngIf="shopFavorites?.length > 0;else noDataFound">
    <ion-row *ngFor="let s of shopFavorites">
      <ion-col class="shadow">
        <ion-card class="shop-card" [ngStyle]="{ 
          'background-image': getUrl(s?.shopDetails.bannerImages), 
          'background-repeat': 'no-repeat', 
          'object-fit':'cover',
          'background-size':'100% 100%'
         }" (click)="navigateToShop(s?.shopDetails._id)">

         <ion-badge color="success" class="rating ion-text-end" *ngIf="s?.shopDetails.avgRating">
          {{ roundRating(s?.shopDetails.avgRating.toFixed(2)) }}
          <ion-icon name="star"></ion-icon>
        </ion-badge>
        
        </ion-card>
        <div class="ion-text-end ion-margin-end ion-margin-top heart-icon">
          <ion-fab>
            <ion-fab-button>
              <ion-icon name="heart" color="primary" fill="" (click)="addToFavorite(s)"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
        <ion-label class="shop-name ion-margin-top ion-text-wrap ion-text-capitalize">
          {{s.shopDetails.shopName}}</ion-label>
        <ion-label (click)="navigateToShop(s?.shopDetails._id)" class="address ion-margin-top" color="
            light">
          <h4 class="address-padding ion-padding-start">
            {{ s.ownerDetails[0]?.address?.city ? s.ownerDetails[0]?.address?.city : ""}},
            {{s.ownerDetails[0]?.address?.state ? s.ownerDetails[0]?.address?.state : "" }},
            {{s.ownerDetails[0]?.address?.pinCode ? s.ownerDetails[0]?.address?.pinCode : "" }}.
          </h4>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #noDataFound>
    <div class="favorite">
      <ion-icon size="large" name="heart-outline"></ion-icon>
    </div>
    <div class="noData">
      <ion-label>No Shops In Favorites</ion-label>
    </div>
  </ng-template>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>