<ion-header>
  <ion-toolbar class="bg-color-2">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-color-4 ion-text-capitalize ion-text-wrap">{{ 'selectLanguage' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-card class="ion-padding">
    <ion-radio-group [(ngModel)]="selectedLanguage" (ionChange)="setLanguage($event)">
      <ion-item *ngFor="let item of languages">
        <ion-label class="ion-text-capitalize ion-text-wrap">
          {{item.label}}
        </ion-label>
        <ion-radio slot="end" class="btn-radio-color-1" [value]="item.value" color="secondary"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-card> -->

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-list lines="none" appAnimateItems className="fadeInLeft">
          <ion-item class="animation-normal opacity-0">
            <ion-radio-group [(ngModel)]="selectedLanguage" (ionChange)="setLanguage($event)">
              <ion-item *ngFor="let item of languages">
                <ion-label class="ion-text-capitalize ion-text-wrap">
                  {{item.label}}
                </ion-label>
                <ion-radio slot="start" class="btn-radio-color-1" [value]="item.value" color="secondary"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>