<!-- <ion-header>
  <ion-toolbar>
    <ion-title> {{ 'newUdhari' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="shadow-none" routerLink="/landing-page">
        <ion-icon name="close-circle" size="large" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="loaded">
  <form [formGroup]="passbookForm">
    <ion-item
      lines="none"
      class="input-class"
      [class.invalid]="!form.type.valid && (form.type.dirty || submitted)"
    >
      <ion-label position="stacked" class="ion-padding-bottom">
        {{ 'type' | translate}}
        <ion-note color="danger">*</ion-note>
      </ion-label>
      <ion-radio-group formControlName="type" (ionChange)="checkValidation()">
        <ion-row>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-text color="primary"> {{ 'sale' | translate}}</ion-text>
              <ion-radio slot="start" value="ADVANCE"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-text color="primary"> {{ 'deposit' | translate}}</ion-text>
              <ion-radio slot="start" value="DEPOSIT"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>
    </ion-item>
    <app-validation-messages class="error-message" [control]="form.type">
    </app-validation-messages>

    <ion-item
      class="input-class"
      [class.invalid]="!form.particular.valid && (form.particular.dirty || submitted)"
    >
      <ion-label position="stacked">
        {{ 'particular' | translate}}
        <ion-note color="danger">*</ion-note>
      </ion-label>
      <ion-textarea
        type="text"
        placeholder="Enter Particular"
        formControlName="particular"
      ></ion-textarea>
    </ion-item>
    <app-validation-messages class="error-message" [control]="form.particular">
    </app-validation-messages>

    <ion-item
      *ngIf="form.type.value !== 'DEPOSIT'"
      class="input-class"
      [class.invalid]="!form.amount.valid && (form.amount.dirty || submitted)"
    >
      <ion-label position="stacked">
        {{ 'totalAmount' | translate}}
        <ion-note color="danger">*</ion-note>
      </ion-label>
      <ion-input
        placeholder="Enter Total Amount"
        formControlName="amount"
        type="number"
        inputmode="numeric"
      >
      </ion-input>
    </ion-item>
    <app-validation-messages class="error-message" [control]="form.amount">
    </app-validation-messages>

    <ion-item
      class="input-class"
      [class.invalid]="!form.paid.valid && (form.paid.dirty || submitted)"
    >
      <ion-label position="stacked">
        {{ 'paid' | translate}}
        <ion-note color="danger">*</ion-note>
      </ion-label>
      <ion-input
        placeholder="Enter Paid"
        formControlName="paid"
        type="number"
        inputmode="numeric"
      ></ion-input>
    </ion-item>
    <app-validation-messages class="error-message" [control]="form.paid">
    </app-validation-messages>

    <div class="ion-text-center ion-margin-vertical">
      <ion-button
        color="primary"
        expand="full"
        shape="round"
        class="btn"
        (click)="submit()"
      >
        {{ 'submit' | translate}}
      </ion-button>
    </div>
  </form>
</ion-content>

<ion-content class="ion-padding" *ngIf="!loaded">
  <form [formGroup]="passbookForm">
    <ion-item lines="none" class="input-class">
      <ion-label position="stacked" class="ion-padding-bottom">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-label>
      <ion-radio-group>
        <ion-row>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>
    </ion-item>
    <ion-item class="input-class" lines="none">
      <ion-label position="stacked">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-label>
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-item>

    <ion-item class="input-class" lines="none">
      <ion-label position="stacked">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-label>
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-item>

   

    <ion-item class="input-class" lines="none">
      <ion-label position="stacked">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-label>
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-item>

    <div class="ion-text-center ion-margin-vertical">
      <ion-button color="primary" expand="full" shape="round" class="btn">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-button>
    </div>
  </form>
</ion-content> -->

<!-- <ion-row>
  <ion-col *ngFor="let s of shopDetails"(click)="getByIdCatlogue()" size="3">
    <ion-row>
      <ion-col  size="12">
        <ion-item >
          <ion-label >{{s.shopName}}</ion-label>
        </ion-item>  
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row> -->


