// .card {
//     height: 16vh;

//     ion-card-content {
//         .main {
//             display: flex;

//             .shop-name {
//                 margin-left: 7px;
//                 margin-top: 29px;
//                 font-weight: bold;
//                 color: #0D276B;
//                 font-size: 21px;

//             }

//             .next-icon {
//                 position: absolute;
//                 right: 12px;
//                 top: 35px;
//                 font-size: 42px;
//                 color: #E75C62;

//             }
//         }
//     }
// }

// .img-box {
//     position: relative;
//     width: 100px;
//     height: 100px;
//     top: -6px;
//     left: 0px;
//     border-radius: 50%;

//     // height: 105px;
//     // width: 120px;
//     border: 4.5px solid white;

//     // margin-bottom: 5px !important;

//     background: #F2BF46;

//     img {
//         // position: relative;
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//         object-position: center;
//         border-radius: inherit;

//     }


// }


.img-icon{
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 2rem !important;
}

