<ion-header>
 <ion-toolbar> 
    
  <ion-title>Favourites</ion-title>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="category" class="backColor"></ion-back-button>
  </ion-buttons>
</ion-toolbar> 
</ion-header>

<ion-content>
   <div class="container"> 
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
           <ion-item> 
          <ion-thumbanail slot="start">
              <img src="../../../assets/image/carservice.jpg" />
            </ion-thumbanail> 

             <ion-label >
              <h2>car<span style="float:right">&#8377;
                2,999</span>
                
              </h2>
              <p>inclusive of all taxex</p>
              <h3>
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                
              </h3>
            </ion-label> 
            
        </ion-item> 
        <h4>Available service</h4>
        

             
        <ion-item>
        <ion-thumbanail slot="start">
          <img src="../../../assets/image/carwassh.jpg" />
        </ion-thumbanail> 
         <ion-label >
          <h2>car<span style="float:right">&#8377;
            2,999</span>
            
          </h2>
          <p>inclusive of all taxex</p>
          <h3>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            
          </h3>
        </ion-label> 
      </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    </ion-grid>
  </div> 
</ion-content>
