ion-content {
  --padding-bottom: 0 !important;
  --padding-top: 0 !important;
  --padding-start: 0 !important;
  --padding-end: 0 !important;
}

.category-list {

  ion-row,
  ion-col {
    padding: 0;
    margin: 0;
  }

  .category-section {
    .cat-container {
      max-width: 75vh !important;
      height: 75vh !important;
      overflow: auto !important;
      position: fixed;
    }

    ion-card {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid grey;
      background-color: #ededed;
      padding: 0.5rem 0;

      .cat-img {
        border-radius: 5%;
        height: 5rem;
        width: 5rem;
        object-fit: cover;
      }

      .cat-head {
        font-size: 0.8rem;
        text-transform: capitalize;
      }
    }

    .active {
      border-bottom: 1px solid rgb(255, 3, 3);
      background-color: #ffffff;
      border-bottom-right-radius: 5%;
      border-bottom-left-radius: 5%;

      .cat-head {
        font-size: 0.8rem;
        color: red;
        font-weight: bold;
        text-transform: capitalize;
      }
    }

    *::-webkit-scrollbar {
      width: 2px;
      height: 5px;
      cursor: pointer !important;
    }

    *::-webkit-scrollbar-track {
      background: var(--ion-color-light);
      cursor: pointer !important;
    }

    *::-webkit-scrollbar-thumb {
      background-color: var(--ion-color-secondary);
      border-radius: 5px;
      cursor: pointer !important;
    }
  }

  .subcategory-section {

    ion-col {
      margin-bottom: 0.6rem;
    }

    ion-card {
      border-radius: 5%;
      box-shadow: none;
      background-color: transparent;
      margin: 0.2rem;
      height: 100%;

      .subcat-img {
        border-radius: 5%;
        height: 80%;
        width: 75%;
        object-fit: cover;
      }

      .cat-head {
        font-size: 0.7rem;
        text-transform: capitalize;
      }
    }
  }
}

.noData {
  text-align: center !important;
  margin: 5rem !important;
}
