<ion-header>
  <ion-toolbar>
    <ion-title>{{'Category' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-searchbar class="search-box ion-padding-top" inputmode="search" searchIcon animated type="text" debounce="600"
  showCancelButton="never" autocomplete="on" autocorrect="on" [(ngModel)]="searchText" (ionChange)="onSearch()"
  placeholder="{{ 'searchSubCategory' | translate}}">
</ion-searchbar>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="category-list">
    <ion-row>
      <ion-col size="3" class="category-section">
        <div class="cat-container">
          <ion-card class="ion-text-center" [ngClass]="item.active ? 'active':null "
            *ngFor="let item of categoryList;let i =index;" (click)="getSubCategories(item._id)">
            <img alt="Category Image" class="cat-img" *ngIf="item.image" src="{{item.image}}" />
            <img alt="Category Image" class="cat-img" *ngIf="!item.image" src="assets/images/placeholder_product.png" />
            <ion-card-subtitle class="cat-head">{{item.name}}</ion-card-subtitle>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size="9" class="subcategory-section" *ngIf="subCategoryList?.length > 0;else noDataFound">
        <ion-row class="ion-margin">
          <ion-col size="6" *ngFor="let subCategory of subCategoryList">
            <ion-card class="ion-text-center" (click)="navigateToShopList(subCategory)">
              <img alt="Category Image" class="subcat-img" *ngIf="subCategory.image" src="{{subCategory.image}}" />
              <img alt="Category Image" class="subcat-img" *ngIf="!subCategory.image"
                src="assets/images/placeholder_product.png" />
              <ion-card-subtitle class="cat-head">{{subCategory.name}}</ion-card-subtitle>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
      <ng-template #noDataFound>
        <div class="noData">
          <ion-label>No Data Found</ion-label>
        </div>
      </ng-template>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll #IonInfiniteScroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>