<ion-header>
  <ion-toolbar>
    <ion-title>{{'Category' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/tabs/landing-page"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-searchbar class="search-box ion-padding-top" inputmode="search" searchIcon animated type="text" debounce="600"
    showCancelButton="never" autocomplete="on" autocorrect="on" [(ngModel)]="search" (ionChange)="onSearch()"
    placeholder="{{ 'Search' | translate}}">
  </ion-searchbar> -->


  <ion-grid class="category-list">
    <ion-row>
      <ion-col size="3" class="category-section">
        <div class="cat-container">
          <ion-card class="ion-text-center" [ngClass]="c.active ? 'active':null "
            *ngFor="let c of categoryArr;let i =index;" (click)="getCategoryAllSubCategory(i)">
            <img alt="Category Image" class="cat-img" src="{{c.image}}" />
            <ion-card-subtitle class="cat-head">{{c.name}}</ion-card-subtitle>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size="9" class="subcategory-section">
        <ion-row class="ion-margin">
          <ion-col size="4" *ngFor="let subCategory of subCategoryArr">
            <ion-card class="ion-text-center" (click)="navigateTo('/app/tabs/search-shop',subCategory._id)">
              <img alt="Category Image" class="cat-img" src="{{subCategory.image}}" />
              <ion-card-subtitle class="cat-head">{{subCategory.name}}</ion-card-subtitle>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>