.category {
  .card {
    padding: 10px;
    height: 100% !important;
    img {
      width: 80px;
      height: 50px;
    }
  }
  .card-body {
    .card-heading {
      text-align: center !important;
      font-size: medium;
      margin: -1px 0px 10px 0px;
    }
  }
}
