<ion-header mode="md" class="ion-no-border">
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref class="text-color-2"></ion-back-button>
  </ion-buttons>
  <ion-title>{{'verificationLabel' | translate}}</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/images/undraw_unlock_re_a558.svg" class="head-image">
  <div class="ion-padding">
    <!-- <ion-text class="text-label text-color-2 font-weight-bold">
      {{ 'verificationLabel' | translate}}
    </ion-text> -->
    <p class="text-color-1">
      {{ 'verificationDescription' | translate}} +{{form.countryCode.value}} {{form.mobileNumber.value}}
    </p>
    <!-- form -->
    <form [formGroup]="loginForm" class="form-container ion-text-center">
      <ion-item class="input-class" lines="none">
        <ion-label class="text-color-2" position="stacked">{{ 'otp' | translate}}</ion-label>
        <ion-input  type="tel" name="otp" placeholder="{{ 'otp' | translate}}" autocomplete="on"
          clearInput formControlName="otp" >
        </ion-input>
      </ion-item>
      <div class="text-left" *ngFor="let error of errorMessages.otp">
        <ng-container *ngIf="form.otp.hasError(error.type) && (form.otp.dirty || form.otp.touched)">
          <small class="text-color-danger">{{ error.message }}</small>
        </ng-container>
      </div>

        <div class="d-flex justify-content-end  ion-margin-top">
          <p class="text-color-8" *ngIf="canResendOTP">
            Did not receive the OTP?
            <a class="text-color-8 font-weight-bold" role="button" (click)="requestOtp()">Resend</a>
          </p>
          <p class="text-color-8 mb-0" *ngIf="!canResendOTP">
            Resend OTP in <strong>{{ minutes }}:{{ seconds }}</strong>
          </p>
        </div>

      <div class="clearfix ion-padding-top ion-margin-top">
        <ion-button (click)="onSubmit()" shape="round" expand="block" class="btn-color-1 btn-height-large"
          type="submit">
          {{ 'submit' | translate}}
        </ion-button>
      </div>
    </form>
    <!-- form -->

  </div>
</ion-content>